.attendance-list{
    width: 100%;
    padding: 0px 35px;
    position: relative;

    .create-item{
        display: block;
        border: none;
        margin: 20px auto;
        color: $white;
        background: $green;
        border-radius: 5px;
        padding: 7.5px 25px;
    }

    .customer-list{
        .back-arrow{
            height: 35px;
            cursor: pointer;
            width: 55px;
            position: absolute;
            top: 0px;
            left: 20px;
            line-height: 35px;
            font-size: 15px;
            i{
                color: $text-dark-grey;            
            }
        }

        .search-container{
            margin-bottom: 10px;
            overflow: hidden;

            input{
                margin-bottom: 10px;
            }

            .add-to-titles{
                width: 95%;
                margin: 0 auto;

                div{
                    height: 35px;
                    width: 60px;
                    float: right;
                    text-align: center;
                }
            }
        }

        ul{
            height: calc(100vh - 250px);
            overflow-y: scroll;

            &::-webkit-scrollbar { 
                display: none; 
            }

            &.short-list{
                height: calc(100vh - 285px);
                .customer-details {
                    ellipsis-animated{
                        margin-right: 45px;
                    }
                }
            }

            .customer-details{
                width: 95%;
                margin: 0 auto;
                height: 40px;

                .item-title{
                    line-height: 35px;
                }
                button{
                    width: 60px;
                    height: 35px;
                    border: none;
                    background: none;
                    float: right;

                    font-size: 23px;
                    line-height: 35px;
                    &.fa-plus{
                        color: $green;                    
                    }
                    &.fa-check{
                        color: $grey;
                    }
                    &[disabled]{
                        pointer-events: none;
                    }
                }
                ellipsis-animated{
                    color: $green;
                    font-size: 22px;
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }

    .no-students{
        margin-top: 30px;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .student-list{
        height: calc(100vh - 265px);
        overflow-y: scroll;
        &::-webkit-scrollbar { 
            display: none; 
        }    

        .student-details{
            width: 95%;
            margin: 0 auto 10px auto;
            background: $white;
            overflow: hidden;

            div{
                float: left;
            }
            .item-title{
                max-width: 110px;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 15px;
                line-height: 45px;
                font-size: 14px;
            }


            ellipsis-animated{
                font-size: 23px;
            }
            
            .attending-checkbox{
                &[disabled]{
                    pointer-events: none;
                }

                -webkit-box-shadow: 1.5px 0px 1.5px 0px rgba(200,200,200,1);
                -moz-box-shadow: 1.5px 0px 1.5px 0px rgba(200,200,200,1);
                box-shadow: 1.5px 0px 1.5px 0px rgba(200,200,200,1);

                cursor: pointer;
                background: $green;
                width: 45px;
                height: 45px;
                color: $white;
                text-align: center;

                .fa{
                    line-height: 45px;
                    font-size: 30px;
                }
            }

            .payment-status{
                float: right;
                width: 80px;
                padding: 0px 5px;
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                text-align: center;
                color: white;
                cursor: pointer;
                -moz-user-select: none; 
                -webkit-user-select: none; 

                &[disabled]{
                    pointer-events: none;
                }

                &.awaiting-invoice, &.awaiting-payment{
                    background: $dark-grey;
                    padding-top: 6.5px;
                    line-height: 15px;
                }

                &.paid{
                    background: $green;
                }

                &.overdue{
                    background: $red;
                }
            }

            .delete-booking{
                width: 40px;
                height: 45px;
                text-align: center;
                float: right;
                background: $background-beige;
                cursor: pointer;

                .fa{
                    line-height: 45px;
                    font-size: 22px;
                    color: $text-grey;
                }   
            }
        }
    }
}
@media (max-width: 768px){
    [state^="scheduling"] .session-modal div.session-modal-title{
        padding: 5px 35px 10px 35px;
    }
    .attendance-list div.customer-list ul{
        height: calc(100vh - 330px);
            &.short-list{
                height: calc(100vh - 365px);
            }
    }
    .attendance-list {
        padding: 0px 10px;
        .student-list {
              height: calc(100vh - 330px);
            .student-details{
                .item-title{
                    line-height: 21px;
                    padding-left: 10px;
                }
            }
        }
    }   
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    .attendance-list {
        .student-list, .customer-list ul{
            height: calc(100vh - 315px);
        }
    }  
}