.attendance-list{
    width: 100%;
    padding: 0px 35px;
    position: relative;

    .create-item{
        display: block;
        border: none;
        margin: 20px auto;
        color: $white;
        background: $green;
        border-radius: 5px;
        padding: 7.5px 25px;
    }

    .customer-list{
        height: calc(100vh - 245px);
        overflow-y: auto;

        &.short-list{
            ul{
                margin-top: 90px;
                .customer-details {
                    ellipsis-animated{
                        margin-right: 45px;
                    }
                }
            }
        }

        .back-arrow{
            height: 35px;
            cursor: pointer;
            width: 55px;
            position: absolute;
            top: 0px;
            left: 20px;
            line-height: 35px;
            font-size: 15px;
            i{
                color: $text-dark-grey;            
            }
        }

        .search-container{
            overflow: hidden;
            z-index: 1;
            background: $background-beige;
            position: absolute;
            width: 330px;

            input{
                margin-bottom: 10px;
            }

            .add-to-titles{
                width: 85%;
                margin: 0 auto;

                div{
                    height: 35px;
                    width: 60px;
                    float: right;
                    text-align: center;
                }
            }
        }

        ul{
            margin-top: 45px;

            .customer-details{
                width: 95%;
                margin: 0 auto;
                height: 40px;

                &[disabled]{
                    pointer-events: none;

                    button{
                        pointer-events: none;
                        &.fa-plus{
                            color: transparent;
                        }
                    }
                }

                .item-title{
                    line-height: 35px;
                }
                button{
                    width: 60px;
                    height: 35px;
                    border: none;
                    background: none;
                    float: right;

                    font-size: 23px;
                    line-height: 35px;
                    &.fa-plus{
                        color: $green;                    
                    }
                    &.fa-check{
                        color: $text-grey;
                    }
                }
                ellipsis-animated{
                    color: $green;
                    font-size: 22px;
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }

    .no-students{
        margin-top: 30px;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .student-list{
        height: calc(100vh - 315px);
        overflow-y: auto;

        .student-details{
            width: 95%;
            margin: 0 auto 10px auto;
            background: $white;
            overflow: hidden;

            div{
                float: left;
            }
            .item-title{
                max-width: 110px;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 15px;
                line-height: 45px;
                font-size: 14px;
            }


            ellipsis-animated{
                font-size: 23px;
            }
            
            .attending-checkbox{
                &[disabled]{
                    pointer-events: none;
                }
                &.absent{
                    background: $red;
                }
                &.present{
                    background: $green;
                }
                -webkit-box-shadow: 1.5px 0px 1.5px 0px rgba(200,200,200,1);
                -moz-box-shadow: 1.5px 0px 1.5px 0px rgba(200,200,200,1);
                box-shadow: 1.5px 0px 1.5px 0px rgba(200,200,200,1);

                cursor: pointer;
                background: $dark-grey;
                width: 45px;
                height: 45px;
                color: $white;
                text-align: center;

                .fa{
                    line-height: 45px;
                    font-size: 30px;
                }
            }

            .payment-status{
                float: right;
                width: 80px;
                padding: 0px 5px;
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                text-align: center;
                color: white;
                cursor: pointer;
                -moz-user-select: none; 
                -webkit-user-select: none; 

                &[disabled]{
                    pointer-events: none;
                }

                &.pending-invoice, &.pending-payment{
                    background: $dark-grey;
                    padding-top: 6.5px;
                    line-height: 15px;
                }

                &.paid{
                    background: $green;
                }

                &.overdue-payment{
                    background: $red;
                }
            }

            .delete-booking{
                width: 40px;
                height: 45px;
                text-align: center;
                float: right;
                background: $background-beige;
                cursor: pointer;

                .fa{
                    line-height: 45px;
                    font-size: 22px;
                    color: $text-grey;
                }   
            }
        }
    }
}
@media (max-width: 768px){
    [state^="scheduling"] .session-modal div.session-modal-title{
        padding: 5px 35px 10px 35px;
    }
    .attendance-list div.customer-list {
        .search-container{
            width: 95%;
            i{
                top: 14px;
            }
             .add-to-titles{
                width: 100%;
                div{
                    &:first-child{
                        margin-right:5px;
                    }
                    &:last-child{
                        margin-right:5px;
                    }
                }
            }
        }
        ul{
            height: calc(100vh - 330px);
                &.short-list{
                    height: calc(100vh - 365px);
                }
        }
    }
    .attendance-list {
        padding: 0px 10px;
        .student-list {
              height: calc(100vh - 330px);
            .student-details{
                .item-title{
                    line-height: 21px;
                    padding-left: 10px;
                }
            }
        }
    }   
}

//iPhone 4s and below in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .attendance-list {
        .student-list {
            height: calc(100vh - 380px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }  
}


//iPhone 5&5s in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (-webkit-min-device-pixel-ratio: 2)  {
    .attendance-list {
        .student-list {
            height: calc(100vh - 380px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }  
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
      .attendance-list {
        .student-list {
            height: calc(100vh - 310px);      
        }
        div.customer-list ul {
            height: calc(100vh - 310px);
            &.short-list  {
                height: calc(100vh - 350px);
            }
        }
    }  

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3){
     .attendance-list {
        .student-list {
            height: calc(100vh - 310px);      
        }
        div.customer-list ul {
            height: calc(100vh - 310px);
            &.short-list  {
                height: calc(100vh - 350px);
            }
        }
    }  
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
     .attendance-list {
        .student-list {
            height: calc(100vh - 310px);      
        }
        div.customer-list ul {
            height: calc(100vh - 310px);
            &.short-list  {
                height: calc(100vh - 350px);
            }
        }
    }  

}

// iPhone 6 in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .attendance-list {
        .student-list {
              height: calc(100vh - 380px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }    
}

//iPhone 6 plus in portrait & landscape
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .attendance-list {
        .student-list {
            height: calc(100vh - 380px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }  
}

// iPad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    .attendance-list {
        div.customer-list .search-container .add-to-titles div{
            &:first-child{
                margin-right:0px;
            }
            &:last-child{
                margin-right:0px;
            }
            
        }
        .student-list, div.customer-list{
            ul {
                height: calc(100vh - 380px);
                &.short-list  {
                    height: calc(100vh - 420px);
                }
            }
        }
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    .attendance-list {
        .student-list, div.customer-list ul{
            height: calc(100vh - 370px);
        }
        .customer-list ul.short-list  {
            height: calc(100vh - 390px);
        }
    }

}