.attendance-list{
    width: 100%;
    position: relative;
    clear: both;

    .no-students{
        margin-top: 30px;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .student-list{
        height: calc(100vh - 315px);
        overflow-y: auto;

        .student-details{
            width: 95%;
            margin: 0 auto 10px auto;
            background: $white;
            overflow: hidden;

            div{
                float: left;
            }
            .item-title{
                max-width: 110px;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 15px;
                line-height: 45px;
                font-size: 14px;
            }


            ellipsis-animated{
                font-size: 23px;
            }

            .delete-booking{
                width: 40px;
                height: 45px;
                text-align: center;
                float: right;
                background: $background-beige;
                cursor: pointer;

                .fa{
                    line-height: 45px;
                    font-size: 22px;
                    color: $text-grey;
                }   
            }
        }
    }
}
.customer-list .customer-details .item-title {
    &.first-name,&.last-name{
        max-width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;

    }
}
@media (max-width: 768px){
    [state^="scheduling"] .session-modal div.session-modal-title{
        padding: 5px 35px 10px 35px;
    }
    .customer-list .customer-details .item-title {
        &.first-name,&.last-name{
            max-width: 90px;

        }
    }

    .attendance-list div.customer-list {
        .search-container{
            width: 95%;
            i{
                top: 14px;
            }
             .add-to-titles{
                width: 100%;
                div{
                    &:first-child{
                        margin-right:5px;
                    }
                    &:last-child{
                        margin-right:5px;
                    }
                }
            }
        }
        ul{
                height: 100vh;
                &.short-list{
                    height: 100vh;
                    }
            }
        
    }
    .attendance-list {
        .student-list {
            height: 100vh;
            .student-details{
                .item-title{
                    line-height: 21px;
                    padding-left: 10px;
                }
            }
        }
    }   
}

//iPhone 4s and below in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .attendance-list {
        .student-list {
            height: calc(100vh - 320px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }  
}


//iPhone 5&5s in portrait & landscape
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (-webkit-min-device-pixel-ratio: 2)  {
    .attendance-list {
        .student-list {
            height: calc(100vh - 320px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }  
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
      .attendance-list {
        .student-list {
            height: calc(100vh - 310px);      
        }
        div.customer-list ul {
            height: calc(100vh - 310px);
            &.short-list  {
                height: calc(100vh - 350px);
            }
        }
    }  

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3){
     .attendance-list {
        .student-list {
            height: calc(100vh - 310px);      
        }
        div.customer-list ul {
            height: calc(100vh - 310px);
            &.short-list  {
                height: calc(100vh - 350px);
            }
        }
    }  
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
     .attendance-list {
        .student-list {
            height: calc(100vh - 310px);      
        }
        div.customer-list ul {
            height: calc(100vh - 310px);
            &.short-list  {
                height: calc(100vh - 350px);
            }
        }
    }  

}

// iPhone 6 in portrait & landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .attendance-list {
        .student-list {
              height: calc(100vh - 320px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }    
}

//iPhone 6 plus in portrait & landscape
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .attendance-list {
        .student-list {
            height: calc(100vh - 320px);      
        }
        div.customer-list ul {
            height: calc(100vh - 380px);
            &.short-list  {
                height: calc(100vh - 420px);
            }
        }
    }  
}

// iPad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    .attendance-list {
        .student-list, div.customer-list ul {
            height: calc(100vh - 320px);
        }
            
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    .attendance-list {
        .student-list, div.customer-list ul{
            height: calc(100vh - 320px);
        }
        .customer-list ul.short-list  {
            height: calc(100vh - 390px);
        }
    }

}