[state^="scheduling"] {
    .modal-container{
    	overflow: hidden;
		.course-header{
		}

		course-attendance-modal{
			.attendance-list{
				max-width: 100%;
				min-width: 400px;
				height: 90vh;
				background: $background-beige;
				overflow: hidden;
				div.session-headers{
					position: absolute;
					left: 175px;
					white-space: nowrap;
					z-index: 1;
					line-height: 30px;
					height: 60px;
					li{
						background: $background-beige;
						display: inline-block;
						text-align: center;

						&.current{
							background: rgb(179,215,243);
						}
					}
					span{
						width: 125px;
						display: block;
					}
				}

				.cover-box{
					position: absolute;
					left: 0;
					z-index: 49;
					height: 60px;
					width: 175px;
					background: $background-beige;
					text-align: center;
					line-height: 59px;
					loading-animation{
						height: 60px;
						width: 175px;
						position: absolute;
						top:0px;
						left: 0px;
						margin: 0px;
						span{
							margin: 0px 3px;
						}
					}
					span{
						color: $green;
						font-size: 18px;
						line-height: 59px;
						i{
							margin-left: 5px;
						}
					}
				}
				.course-table-container{
					overflow-y: scroll;
					overflow-x: hidden;
					height: 84vh;
					table{
						border-collapse: collapse;
						tr{
							td{
								padding: 0px;
								vertical-align: top;
								background: $white;
								border-top: 15px solid $background-beige;
								line-height: 22px;
								text-align: center;

								&.current.course-session-attendance{
									border-top: 15px solid rgb(179,215,243);
									background: rgb(179,215,243);
								}

								&.course-session-attendance{
									.attending-checkbox{
										width: 80px;
										height: 45px;
										margin: 0 auto;
										display: block;
									}
								}
							}
						}
						&.customer-names{
							float: left;
							margin-top: 55px;
							td{
								width: 120px;
								height:60px;
								display: block;
								float: left;
								line-height: 45px;
								&.delete-booking{
									width:40px;
									font-size: 18px;
								}
							}
							tr{
								height: 60px
							}
						}
						&.session-data{
							display: block;
							max-width: 87%;
							min-height: 100%;
							padding-bottom: 75px;
							overflow-x: scroll;
							overflow-y: hidden; 
							tbody{
								display: block;
								margin-top: 55px;
								tr{
									button.add-student, customer-attendance-status, customer-payment-status{
										width: 125px;
										height: 45px;
										display: block;
									}

									.payment-status{
									    line-height: 45px;
									    width: 80px;
									    margin: 0 auto;
									    font-size: 14px;
									    text-align: center;
									    color: white;
									    cursor: pointer;
									    -moz-user-select: none; 
									    -webkit-user-select: none; 
									    user-select: none;

									    &[disabled]{
									        pointer-events: none;
									    }

									    &.pending-invoice, &.pending-payment{
									        background: $dark-grey;
									        padding: 8px 0;
									        line-height: 15px;
									    }

									    &.paid{
									        background: $green;
									    }

									    &.overdue-payment{
									        background: $red;
									    }
									}

									ellipsis-animated{
										line-height: 30px;
										font-size: 25px;
									}

									button.add-student{
									    border: none;
									    background: none;

									    font-size: 23px;
									    line-height: 44px;
									    padding: 0;

									    &.fa-plus{
									        color: $green;                    
									    }
									    &.fa-check{
									        color: $text-grey;
									    }
									}

								}
							}
						}
					}
				}
			}
			.customer-list{
			    height: 100%;
			    overflow-y: auto;
			    position: absolute;
			    top: 0px;
			    right: -345px;
			    width: 345px;
			    padding: 10px;
			    background: $background-beige;
			    z-index: 49;

			    -webkit-transition:right linear 0.3s;
			    transition:right linear 0.3s;

			    &.showing {
			        right: 0;
			    }

			    &.short-list{
			        ul{
			            margin-top: 90px;
			            .customer-details {
			                ellipsis-animated{
			                    margin-right: 45px;
			                }
			            }
			        }
			    }

			    .search-container{
			        overflow: hidden;
			        z-index: 1;
			        position: absolute;
			        width: 330px;

			        input{
			            margin-bottom: 10px;
			        }

			        .add-to-titles{
			            width: 85%;
			            margin: 0 auto;

			            div{
			                height: 35px;
			                width: 60px;
			                float: right;
			                text-align: center;
			            }
			        }
			    }

			    ul{
			        margin-top: 85px;

			        .customer-details{
			            width: 95%;
			            margin: 0 auto;
			            height: 40px;

			            &[disabled]{
			                pointer-events: none;

			                button{
			                    pointer-events: none;
			                    &.fa-plus{
			                        color: transparent;
			                    }
			                }
			            }

			            .item-title{
			                line-height: 35px;
			                &.first-name,&.last-name{
			                    max-width: 80px;
			                    overflow: hidden;
			                    text-overflow: ellipsis;
			                    float: left;
			                }
			            }
			            button{
			            	width: 60px;
			            	 height: 35px;
			            	 border: none;
			            	 background: none;
			            	 float: right;

			            	 font-size: 23px;
			            	 line-height: 35px;
			            	 &.fa-plus{
			            	     color: $green;                    
			            	 }
			            	 &.fa-check{
			            	     color: $text-grey;
			            	 }

			            }
			            ellipsis-animated{
			                color: $green;
			                font-size: 22px;
			                float: right;
			                margin-right: 20px;
			            }
			        }
			    }
			}
			.show-customer-list-button{
			    height: 100%;
			    width: 35px;
			    position: absolute;
			    top: 0;
			    right: 0;
			    background: $background-grey;
			    cursor: pointer;
			    border: none;
			    z-index: 101;
			    -webkit-transition:right linear 0.3s;
			    transition:right linear 0.3s;

			    &.showing{
			        right: 345px;
			    }

			    span{
			        -ms-transform: rotate(270deg); /* IE 9 */
			        -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
			        transform: rotate(270deg);
			        display: inline-block;
			        position: absolute;
			        left: -32px;
			        top: 50px;
			        width: 100px;
			    }
			}
		}
	}
}