[state^="scheduling"] {
    width: 100%;
    position: relative;

    .services-list{
        min-height: 500px;

        width: 27.5%;
        float: left;

        .no-services-message{
            width: 85%;
            margin: 0 auto;
        }

        h4{
            text-align: center;
            font-size: 1.2em;
            padding: 10px;
            cursor: pointer;
        }

        ul{
            margin-top: 1em;
        }

        li{
            &.ui-draggable-dragging{
                width: 60px;
                background: rgba(255, 255, 255, 0.75);
                .service-name, .service-description{
                    display: none;
                }
            }   

            cursor: move;
            width: 90%;
            height: 50px;
            margin: 0 auto 10px auto;
            padding: 10px 5px;
            background: $white;
            overflow: hidden;
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);

            .colour-circle{
                @extend %vertical-align;
                @extend %service-background-colors;
                float: left;
                width: 15px;
                height: 15px;
                border-radius: 10px;
            }

            .fa{
                @extend %vertical-align;
                float: right;
                width: 20px;
                color: $text-grey;
            }

            .service-name{
                @extend %vertical-align;
                font-family: lato-bold;
                float: left;
                width: 70%;
                margin-left: 10px;
                font-size: 0.9em;
                max-height: 20px;
                line-height: 20px;
                color: $text-dark-grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .calendar-loading{
        width: 72.5%;
        right: 0;
        position: fixed;
        height: 100%;
        z-index: 50000;
        background: $light-grey-50;

        .indicator-container{
            @extend %vertical-align;

            float: none;
            margin: 0 auto;
            background: none;
        }
    }

    .calendar-container{
        background: $white;
        float: left;
        width: 72.5%;
        position: relative;

        .dropdown-container{
            width: 100px;
            height: 30px;
            top: 20px;
            position: absolute;
            background: #F5F5F5;

            &.coach-list{
                left: 10px;
            }
            &.location-list{
                left: 120px;
            }

            select{
                padding: 5px 20px 5px 5px;
                border: none;
                box-shadow: none;
                background: transparent;
                background-image: none;
                -webkit-appearance: none;
                cursor: pointer;
                text-align: center;
                width: 100%;

                &:focus{
                    outline: none;
                }
            }

            i{
                @extend %vertical-align;
                position: absolute;
                right: 5px;
                pointer-events: none;
            }
        }

        .calendar{
            /*width: 100%;*/
            /*position: fixed;*/
            /*height: 100%;*/
            /*right: 0;*/

            button, button:active{
                outline: none;
            }

            .fa-lg{
                font-size: 2.3em;
            }

            .fc-right{
                .fc-button{
                    padding: 0 10px;
                }
                .fc-today-button{
                    margin: 0 15px;
                }
            }

            .fc-center{
                position: absolute;
                left: 35%;

                button{
                    position: absolute;
                }
                .fc-prev-button{
                    left: -10px;
                }
                .fc-next-button{
                    right: -10px;
                }
            }

            .fc-event {
                @extend %service-background-colors;
                @extend %service-border-colors;
            }

            .fc-toolbar{
                margin: 20px 0;
            }

    /*        .fc-today{
                background: none;
                border: 2px solid $green;
            }*/

            .fc-highlight{
                background: $green;
            }
        }
    }
}