[state^="scheduling"] {
    width: 100%;
    min-width: 1040px;

    .services-list-container{
        float: left;
        width: 270px;
        position: relative;
        height: calc(100vh - 55px);
        -webkit-transition:width linear 0.3s;
        transition:width linear 0.3s;

        &.closed {
            width: 0px;

            .toggle-service-drawer{
                right: -99px;
                background: #F5F5F5;
                border: 1px solid $border-light-grey;
                width: 100px;
                padding-right: 5px;
            }

            h4{
                font-family: lato-regular;
                font-size: 14px;
                top: 27px;
                right: -65px;
                pointer-events: none;
            }
        }

        .services-list{
            width: 270px;
            margin-top: 70px;

            &[disabled]{
                pointer-events: none;
                opacity: 0.5;
            }
        }

        .toggle-service-drawer{
            position: absolute;
            right: 0px;
            top: 20px;
            line-height: 30px;
            height: 30px;
            padding-right: 15px;
            text-align: right;
            cursor: pointer;
            z-index: 500;
            font-size: 1.5em;
            -webkit-transition:all linear 0.3s;
            transition:all linear 0.3s;

            i{
                font-size: 21px;
                color: $grey;
            }
        }

        .no-services-message{
            width: 85%;
            margin: 0 auto;

            div{
                font-size: 16px;
                text-align: center;
                margin-top: 20px;

                &.no-services-start{
                    margin-top: 25px;
                }

                &.no-services-end{
                    font-size: 12px;
                    margin-bottom: 30px;
                }
            }
        }

        h4{
            text-align: center;
            font-family: lato-bold;
            font-size: 15px;
            color: $grey;
            cursor: pointer;
            z-index: 500;
            width: 50px;
            top: 26px;
            position: absolute;
            left:0;
            right:0;
            margin-left:auto;
            margin-right:auto;

            -webkit-transition:right linear 0.3s;
            transition:right linear 0.3s;
        }

        ul{
            margin-top: 20px;

            button.create-item{
                height: 30px;
                width: 145px;
                display: block;
                font-size: 14px;
                border: none;
                margin: 0 auto 25px auto;
                color: $white;
                background: $green;
                border-radius: 5px;

                i{
                    margin-right: 10px;
                }
            }

            li.service-details{
                cursor: move;
                width: 90%;
                height: 50px;
                margin: 0 auto 10px auto;
                padding: 10px 12.5px;
                background: $white;
                overflow: hidden;
                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);

                &.dragging{
                    background: transparent;
                    -webkit-box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.25);
                    -moz-box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.25);
                    box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.25);

                    *{
                        display: none;
                    }
                }

                .colour-circle{
                    @extend %vertical-align;
                    @extend %service-background-colors;
                    float: left;
                    width: 15px;
                    height: 15px;
                    border-radius: 10px;
                }

                .fa{
                    @extend %vertical-align;
                    float: right;
                    color: $text-grey;
                }

                .service-name{
                    @extend %vertical-align;
                    font-family: lato-bold;
                    float: left;
                    width: 70%;
                    margin-left: 10px;
                    font-size: 0.9em;
                    max-height: 20px;
                    line-height: 20px;
                    color: $text-dark-grey;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }
        }
    }

    .calendar-loading{
        width: 100%;
        position: fixed;
        height: 100%;
        z-index: 50000;
        background: rgba(255,255,255, 0.75);

        .indicator-container{
            position: relative;
            top: 35%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            margin: 0 auto;
            background: none;
            float: none;

            div{
                top: 0;
                left: 0;
                height: 60px;
                width: 60px;
            }
        }
    }

    .calendar-container{
        background: $white;
        overflow: hidden;
        position: relative;
        height: calc(100vh - 55px);

        &.toggle-closed{
            .dropdown-container{
                &.coach-list{
                    left: 150px;
                }
                &.location-list{
                    left: 250px;
                }
            }
        }

        .dropdown-container{
            width: 105px;
            height: 30px;
            top: 20px;
            position: absolute;
            background: #F5F5F5;
            color: $grey;
            border: 1px solid $border-light-grey;
            -webkit-transition:left linear 0.3s;
            transition:left linear 0.3s;

            &[disabled]{
                pointer-events: none;
                opacity: 0.5;
            }

            &.coach-list{
                border-right: none;
                left: 20px;
            }
            &.location-list{
                left: 125px;
            }

            select{
                color: $grey;
                padding: 4px 10px;
                border: none;
                box-shadow: none;
                background: $another-white;
                background-image: none;
                -webkit-appearance: none;
                cursor: pointer;
                width: 90px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                &:focus{
                    outline: none;
                }
            }

            i{
                @extend %vertical-align;
                position: absolute;
                right: 10px;
                pointer-events: none;
                font-size: 10px;
            }
        }

        .coach-title{
            position: absolute;
            width: 100%;
            text-align: center;
            top: 55px;
            font-size: 16px;
            color: $dark-grey;
        }

        .calendar{
            .fc-view-container{
                padding: 0 20px;
            }

            button, button:active{
                outline: none;
                color: $grey;
                text-shadow: none;
            }

            thead{
                border-color: #DFDFDF;
            }
            .fc-time span, .fc-day-header{
                color: $grey;
            }
            .fc-center{
                position: relative;
                width: 220px;
                margin: 0 auto;
                color: $grey;
                overflow: hidden;

                h2{
                    font-size: 1.1em;
                    line-height: 35px;
                    width: 220px;
                }
                button{
                    position: absolute;
                    font-size: 1.5em;
                    height: auto;
                }
                .fc-prev-button{
                    left: 0px;
                }
                .fc-next-button{
                    right: 0px;
                }
            }

            .fc-right{
                position: absolute;
                right: 20px;

                .fc-button{
                    padding: 0 10px;
                    border: 1px solid $border-light-grey;
                    width: 60px;
                    background: $another-white;


                    &.fc-state-active{
                        color: $dark-grey;
                        background: $background-grey;
                    }

                    &.fc-agendaWeek-button{
                        border-left: none;
                        border-right: none;
                    }
                }
                .fc-today-button{
                    margin-left: 7.5px;
                }
            }

            .fc-event {
                @extend %service-background-colors-60;
                @extend %service-border-colors;
                border-width: 1.5px;
                border-radius: 0;
                margin: 1px 0;

                .fc-bg{
                    background: none;
                }
            }

            .fc-toolbar{
                margin: 20px 0 35px 0;
            }

            .fc-content .fc-time{
               display : none;
            }

            .fc-unthemed{
                td{
                    border-color: #DFDFDF
                }
            }

            .fc-highlight{
                background: $green;
            }
        }
    }

    .session-modal{
        position: fixed;
        height: 100%;
        width: 400px;
        z-index: 50;
        background: $background-beige;
        top: $nav-bar-height;
        right: 0px;
        -webkit-transition:all linear 0.3s;
        transition:all linear 0.3s;

        &.ng-hide {
            right: -400px;
        }

        .session-header{
            height: 75px;
            padding: 5px 10px;
            width: 100%;
            color: $white;
            font-size: 22px;
            text-align: center;
            vertical-align: middle;
            margin-bottom: 20px;
            @extend %service-background-colors-60;

            .service-name{
                font-family: lato-bold;
                font-size: 16px;
                height: 22px;
            }
            .location-name, .time-range{
                height: 20px;
                font-size: 14px;
            }

            i{
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 23px;
                cursor: pointer;
            }
        }

        form{            
            margin: 0 auto;
            width: 90%;

            select.coaches, select.locations, select.services{
                width: 100%;
                height: 30px;
            }
            repeat-selector{
                color: $text-dark-grey;
                label{
                    display: block;
                }
                select{
                    margin: 0;
                }
            }
            label {
                color: $text-dark-grey;
                font-size: 14px;
            }

            .time-picker-time{
                display: block;
                margin: 0 auto;
            }

            .money-sign{
                top: 30px;
            }

            .prompt-messages{
                color: $grey;
                font-size: 12px;
            }
        }

        .save-button{
            margin-right: 5%;
        }
    }
}

.service-drag-helper{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    width: 90px;
    color: white;
    font-size: .85em;
    border: 1.5px solid;
    @extend %service-background-colors-60;
    @extend %service-border-colors;
}