[state^="scheduling"] {
    width: 100%;
}

.service-drag-helper{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    width: 90px;
    color: white;
    font-size: .85em;
    border: 1.5px solid;
    @extend %service-background-colors-60;
    @extend %service-border-colors;
}





@media (max-width: 768px){
    [state^="scheduling"]{
        .calendar-container {
            .calendar{
                .fc-toolbar{
                    top: -12px;
                    position: relative;
                    margin: 0px auto 15px auto;

                    .fc-left{
                        float:none;
                    }
                    .fc-center{
                        top:13px;
                    }
                    .fc-right{
                        position: relative;
                        
                        width: 100%;
                        right:0;
                        float: none;
                        .fc-button{
                            width: 33.33333333%;
                            height: 45px;
                        }
                        .fc-today-button{
                            margin-left: 0px;
                        }
                    }
                }
            }

            .dropdown-container{
                float: left;
                position: relative;
                width: 50%;
                top:0px;
                height: 45px;
                padding: 7px 0px;
                border-right:0px;
                text-align: center;
                margin-bottom: 20px;
                select{
                    background: transparent;
                }
             
            }
        }
        


        .services-list-container{
            width: 100%;
            h4{
                display: none !important;
            } 
            .services-list{
                width: 100%;
                margin-top: 30px;
            }
           

           

        }
        .calendar-container .coach-title {
            position: relative;
            top:105px;
        }
        .toggle-service-drawer{
                position: absolute;
                right:80px;
                top:18px;
                z-index: 9998;
               

                border: 0px;
                background: transparent;
                i{
                 color: $white;
                }   

        }
      
    }

}    
