[state^="scheduling"] {
    width: 100%;
    .services-list{
        min-height: 500px;

        width: 25%;
        float: left;

        h4{
            text-align: center;
            font-size: 1.2em;
            padding: 10px;
        }

        ul{
            margin-top: 1em;
        }

        li{
            &.ui-draggable-dragging{
                width: 60px;
                background: rgba(255, 255, 255, 0.75);
                .service-name, .service-description{
                    display: none;
                }
            }   

            cursor: move;
            width: 90%;
            height: 50px;
            margin: 0 auto 10px auto;
            padding: 10px 5px;
            background: $white;
            overflow: hidden;
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);

            .colour-circle{
                @extend %vertical-align;
                @extend %service-background-colors;
                float: left;
                width: 20px;
                height: 20px;
                border-radius: 10px;
            }

            .fa{
                @extend %vertical-align;
                float: right;
                width: 20px;
                color: $text-grey;
            }

            .service-name, .service-description{
                float: left;
                width: 70%;
                margin-left: 10px;
            }
            .service-name{
                font-size: 0.9em;
                font-weight: bold;
                color: $text-dark-grey;
            }
            .service-description{
                font-size: 0.8em;
                max-height: 15px;
                overflow: hidden;
                margin-top: 3px;
                color: $text-grey;
            }
        }
    }

    .calendar{
        width: 75%;
        float: right;
        background: $white;

        
        button, button:active{
            outline: none;
        }

        .fa-lg{
            font-size: 2.3em;
        }

        .fc-right{
            .fc-button{
                padding: 0 10px;
            }
            .fc-today-button{
                margin: 0 15px;
            }
        }

        .fc-event {
            @extend %service-background-colors;
            @extend %service-border-colors;
        }

        .fc-toolbar{
            margin: 20px 0;
        }

/*        .fc-today{
            background: none;
            border: 2px solid $green;
        }*/

        .fc-highlight{
            background: $green;
        }
    }
}