[state^="scheduling"] {
    .services-list-container{
        float: left;
        width: 270px;
        position: relative;
        height: calc(100vh - 55px);
        -webkit-transition:width linear 0.3s;
        transition:width linear 0.3s;

        &.closed {
            width: 0px;

            .toggle-service-drawer{
                right: -99px;
                background: $dark-grey;
                // border: 1px solid $border-light-grey;
               
                width: 100px;
                padding-right: 5px;
                cursor: pointer;
                border-radius: 4px;
                i{
                    color: white;
                }
            }

            h4{
                color: white;
                font-family: lato-regular;
                font-size: 14px;
                top: 27px;
                right: -65px;
                pointer-events: none;
            }

        }

        .services-list{
            width: 270px;
            margin-top: 70px;

            ul{
                height: calc(100vh - 190px);
                overflow-y: scroll;

                &::-webkit-scrollbar { 
                    display: none; 
                }
            }

            &[disabled]{
                pointer-events: none;
                opacity: 0.5;
            }
        }

        .toggle-service-drawer{
            position: absolute;
            right: 0px;
            top: 20px;
            line-height: 30px;
            height: 30px;
            padding-right: 15px;
            text-align: right;
            cursor: pointer;
            z-index: 500;
            font-size: 1.5em;
            -webkit-transition:all linear 0.3s;
            transition:all linear 0.3s;

            i{
                font-size: 21px;
                color: $grey;
            }
        }

        .no-services-message{
            width: 85%;
            margin: 0 auto;

            div{
                font-size: 16px;
                text-align: center;
                margin-top: 20px;

                &.no-services-start{
                    margin-top: 25px;
                }

                &.no-services-end{
                    font-size: 12px;
                    margin-bottom: 30px;
                }
            }
        }

        h4{
            text-align: center;
            font-family: lato-bold;
            font-size: 15px;
            color: $grey;
            cursor: pointer;
            z-index: 500;
            width: 50px;
            top: 26px;
            position: absolute;
            left:0;
            right:0;
            margin-left:auto;
            margin-right:auto;

            -webkit-transition:right linear 0.3s;
            transition:right linear 0.3s;
        }

        button.create-item{
            height: 40px;
            width: 146px;
            display: block;
            font-size: 14px;
            border: none;
            margin: 0 auto 25px auto;
            color: $white;
            background: $green;
            border-radius: 5px;
            transition: background-color 0.5s ease;
            &:hover{
                background: $hover-green;
            }

            i{
                margin-right: 10px;
            }
        }

        ul{
            margin-top: 20px;

            li.service-details{
                cursor: move;
                width: 90%;
                height: 50px;
                margin: 0 auto 10px auto;
                padding: 10px 12.5px;
                background: $white;
                overflow: hidden;
                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);

                &.dragging{
                    background: transparent;
                    -webkit-box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.25);
                    -moz-box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.25);
                    box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.25);

                    *{
                        display: none;
                    }
                }

                .colour-circle{
                    @extend %vertical-align;
                    @extend %service-background-colors;
                    float: left;
                    width: 15px;
                    height: 15px;
                    border-radius: 10px;
                }

                .fa{
                    @extend %vertical-align;
                    float: right;
                    color: $text-grey;
                }

                .service-text{
                    @extend %vertical-align;
                    float: left;
                    width: 80%;
                    margin-left: 10px;

                    .service-name{
                        font-family: lato-bold;
                        font-size: 14px;
                        color: $text-dark-grey;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .service-description{
                        font-size: 12px;
                        color: $grey;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    [state^="scheduling"] {
        .toggle-service-drawer i.toggle-service-drawer-icon{
            color: $text-dark-grey;
            position: relative;
            top:50px;
            transition: all 1.5s ease;
        }

        .services-list-container ul li.service-details{
            width: 76%;
            margin: 0 auto 10px auto;
        }
    }
}