[state^="scheduling"] {
    .session-modal{
        position: fixed;
        height: 100%;
        width: 400px;
        z-index: 50;
        background: $background-beige;
        top: $nav-bar-height;
        right: 0px;
        -webkit-transition:all linear 0.3s;
        transition:all linear 0.3s;

        -webkit-box-shadow: 0px 0px 2px 2px rgba(77,77,77,0.2);
        -moz-box-shadow: 0px 0px 2px 2px rgba(77,77,77,0.2);
        box-shadow: 0px 0px 2px 2px rgba(77,77,77,0.2);

        &.ng-hide {
            right: -400px;
        }

        .session-header{
            height: 90px;
            padding: 10px 10px;
            width: 100%;
            background: $white;
            color: $text-dark-grey;
            font-size: 22px;
            text-align: center;
            vertical-align: middle;
            border-bottom: 10px solid;
            @extend %service-border-colors;

            .service-name{
                font-family: lato-bold;
                font-size: 16px;
                height: 22px;
            }
            .location-name, .time-range{
                height: 20px;
                font-size: 14px;
            }
        }

        .session-modal-nav{
            margin: 15px auto;
            width: 60%;
            overflow: hidden;
            div{
                cursor: pointer;
                font-size: 14px;
                width: 45%;
                height: 30px;
                float: left;
                line-height: 30px;
                border-radius: 5px;
                color: $dark-grey;
                text-align: center;

                &.attendance{
                    float: right;

                    &[disabled]{
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }

                &.active{
                    color: $white;
                    background: $dark-grey;
                }
            }
        }

        .double-wide{
            width: 100%;
        }


        .session-modal-title{
            width: 100%;
            text-align: center;
            border-bottom: 1px solid $light-grey;
            padding: 5px 0px 10px 0px;
            margin-bottom: 15px;
            color: $text-dark-grey;
            font-size: 18px;

            i{
                float: right;
                font-size: 21px;
                margin-right: -17px;
                cursor: pointer;
            }
        }

        .session-form{
            height: calc(100vh - 270px);
            overflow-y: scroll;
            padding: 0 35px;

            &::-webkit-scrollbar { 
                display: none; 
            }

            form{            
                margin: 0 auto 20px auto;
                width: 100%;
                overflow: hidden;

                .form-input{
                    margin-bottom: 5px;

                    input{
                        border: 1px solid $light-grey;
                    }
                }

                select.coaches, select.locations, select.services{
                    width: 100%;
                    height: 30px;
                    border: 1px solid $light-grey;
                }
                repeat-selector{
                    color: $text-dark-grey;
                    label{
                        display: block;
                    }
                    select{
                        margin: 0;
                    }
                }
                label {
                    color: $text-dark-grey;
                    font-size: 14px;
                }

                .time-picker-time{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }

                .money-sign{
                    top: 30px;
                }

                .error-messages{
                    text-align: right;
                }

                .prompt-messages{
                    color: $grey;
                    font-size: 12px;
                    text-align: right;
                }
            }
        }

        .edit-button-container{
            position: absolute;
            bottom: 55px;
            background: $white;
            width: 100%;
            padding: 10px 15px;

            .delete-button{
                @extend %delete-button;
                height: 35px;
                font-size: 22px;
                float: left;
            }
        }
    }
}

@media (max-width: 767px){
    [state^="scheduling"] {
        .session-modal.session-modal-responsive{
            width: 100%;
        }
    }
}