[state^="scheduling"] {
    .session-modal{
        position: fixed;
        height: 100%;
        width: 400px;
        z-index: 50;
        background: $background-beige;
        top: $nav-bar-height;
        right: 0px;
        -webkit-transition:all linear 0.3s;
        transition:all linear 0.3s;

        -webkit-box-shadow: 0px 0px 2px 2px rgba(77,77,77,0.2);
        -moz-box-shadow: 0px 0px 2px 2px rgba(77,77,77,0.2);
        box-shadow: 0px 0px 2px 2px rgba(77,77,77,0.2);

        &.ng-hide {
            right: -400px;
        }

        .session-header{
            padding: 10px;
            overflow: hidden;
            width: 100%;
            text-align: center;
            @extend %service-background-colors-60;

            p{
                color: $white;
                font-size: 16px;

                &.time{
                    font-size: 14px;
                }
            }
        }

        .session-modal-nav{
            margin: 15px auto;
            width: 60%;
            overflow: hidden;
            div{
                cursor: pointer;
                font-size: 14px;
                width: 45%;
                height: 30px;
                float: left;
                line-height: 30px;
                border-radius: 5px;
                color: $dark-grey;
                text-align: center;

                &.attendance{
                    float: right;

                    &[disabled]{
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }

                &.active{
                    color: $white;
                    background: $dark-grey;
                }
            }
        }

        .session-modal-title{
            width: 330px;
            text-align: center;
            border-bottom: 1px solid $light-grey;
            padding: 5px 0px 10px 0px;
            margin: 0 auto 15px auto;
            color: $text-dark-grey;
            font-size: 18px;

            i{
                float: right;
                font-size: 21px;
                cursor: pointer;
            }
        }

        .session-form{
            // height: calc(100vh - 285px);
            overflow-y: scroll;
            padding: 0 35px;

            &::-webkit-scrollbar { 
                display: none; 
            }

            form{            
                margin: 0 auto 20px auto;
                width: 100%;

                .form-input{
                    margin-bottom: 5px;

                    input{
                        border: 1px solid $light-grey;
                        background: $white;
                        height: 40px;
                        font-size: 15px;

                        &.time-picker-time{
                            background: $white;
                        }
                    }

                    select-arrows{
                        height: 40px;
                        .fa-caret-up{
                            top: 8px;
                        }
                        .fa-caret-down{
                            bottom: 8px;
                        }
                    }

                    .time-picker-container{
                        width: auto;
                    }
                }

                select, input{
                    width: 100%;
                    height: 40px;
                    border: 1px solid $light-grey;

                    &.ng-touched.ng-invalid-required{
                        border-color: $orange;
                    }
                }
                repeat-selector{
                    color: $text-dark-grey;
                    label{
                        display: block;
                    }
                    select{
                        height: 40px;
                        margin: 0;
                        border: 1px solid $light-grey;
                        width: 100%;
                    }
                    .frequency-selector{
                        span{
                            width: 46%;
                            float: left;
                        }

                        select.repeat-frequency{
                            width: 46%;
                            float: left;
                            text-indent: 50px;
                            clear: left;
                        }

                        .total-of{
                            width: 46%;
                            float: right;
                            margin-top: -20px; 
                        }

                        .session-count{
                            width: 46%;
                            float: right;
                            height: 40px;
                            text-align: left;
                            padding-left: 40px;
                        }

                        .days-or-weeks{
                            position: absolute;
                            top: 30px;
                            right: -88px;
                        }
                    }
                }
                label {
                    color: $text-dark-grey;
                    font-size: 14px;
                }

                .time-picker-time{
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }

                .money-sign{
                    top: 35px;
                }

                .error-messages{
                    text-align: right;

                    .required{
                        color: $orange;
                    }
                }

                .prompt-messages{
                    color: $grey;
                    font-size: 12px;
                    text-align: right;
                }
            }
        }

        .edit-button-container{
            position: absolute;
            bottom: 55px;
            background: $white;
            width: 100%;
            padding: 10px 15px;

            .delete-button{
                @extend %delete-button;
                height: 35px;
                font-size: 22px;
                float: left;
            }
        }
    }
}

@media (max-width: 768px){
    [state^="scheduling"] {
        .session-modal{
            .edit-button-container{
                .save-button{
                    width: 130px;
                }
                .cancel-button{
                    margin-right: 20px;
                }
            }
            &.session-modal-responsive{
                width: 100%;
            }
             .session-form{
                form{
                    .form-input{
                        margin-bottom: 10px;
                    }
                }
            }
        }    
    }
}



/*Ipad Landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    [state^="scheduling"] {
        .session-modal{
            .session-form{
                // height: calc(100vh - 250px);
            }
        }
    }
}