node_modules
build
.idea
.sass-cache
npm-debug.log
src/css/style.css
src/css/style.css.map
src/i18n/en.json
src/js.spec/testTemplates.js
src/js/libs.js
src/js/scripts.js
src/js/templates.js
reports
platforms
plugins
