<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.coachseek" version="0.1.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coachseek</name>
    <description>
       A single place online to manage your sports coaching business. That's Coachseek.
    </description>
    <author email="hello@coachseek.com" href="http://www.coachseek.com">
        Coachseek
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" /> 
    <preference name="StatusBarBackgroundColor" value="#00A478" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <preference name="deployment-target" value="7.0" />
    <!-- <preference name="intercom-app-id" value="2ac5a0810a1aa76f4a491ac62c23da44aa983f15"/> -->
    <preference name="intercom-ios-api-key" value="ios_sdk-a1a793480766104116975ad002f5ddedcf4423b2"/>
    <preference name="intercom-android-api-key" value="android_sdk-e917393bec3a20b72fbbc4315adbb7ac7405a1fd"/>
   
</widget>
