<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Small & ambitious sports coaching businesses love Coachseek. The single place to manage your coaching business.">
    <title>Coachseek</title>
    <link rel="shortcut icon" href="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/pics/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <!-- @if env == 'development' -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs.js"></script>
    <script src="js/config.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/templates.js"></script>
    <!-- @endif -->

    <!-- @if env == 'testing' -->
    <link rel="stylesheet" href="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/mobile-onboarding/css/style.css">
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/mobile-onboarding/js/libs.js"></script>
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/mobile-onboarding/js/config.js"></script>
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/mobile-onboarding/js/scripts.js"></script>
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/mobile-onboarding/js/templates.js"></script>
    <!-- @endif -->

    <!-- @if env == 'production' -->
    <link rel="stylesheet" href="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/prod/css/style.css">
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/prod/js/libs.js"></script>
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/prod/js/config.js"></script>
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/prod/js/scripts.js"></script>
    <script src="https://az789256.vo.msecnd.net/assets/<!-- @echo version -->/prod/js/templates.js"></script>
    <!-- @endif -->
</head>
<body ng-app="app" ng-controller="appCtrl" ng-strict-di ng-cloak ng-class="{'with-navbar': currentUser}">
    <div class="page-loading" ng-show="appLoading">
        <div class="indicator-container">
            <div class='outer-logo'></div>
            <div ng-class="{active: appLoading}" class='inner-logo'></div>
        </div>
    </div>

    <div id="wrapper" ng-class="!isCollapsed?'toggled': ''">
        <div class="navbar navbar-inverse navbar-fixed-top" ng-show="currentUser">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-header-title" ng-show="displayCurrentStateNameOnMobile&&!isBigScreen">{{currentStateNameOnMobile}}</span>
                    <button class="navbar-toggle pull-left" type="button" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    <activity-indicator class="pull-right"  ui-sref="scheduling"></activity-indicator>
                </div>
            </div>
           <!-- Sidebar -->
            <div ng-class="isBigScreen ? '' : 'sidebar-wrapper' ">
                <ul ng-class="isBigScreen? 'nav navbar-nav' : 'sidebar-nav' "  ng-click="isCollapsed = !isCollapsed">
                    <li class="toggle-icon">
                        <a>
                            <i class="fa fa-bars fa-2x"></i>
                        </a>
                    </li>
                    <li><a ui-sref="scheduling" ui-sref-active="active">{{'scheduling' | i18next}}</a></li>
                    <li><a ui-sref="customers" ui-sref-active="active">{{'customers' | i18next}}</a></li>
                    <li><a ui-sref="businessSetup.business" ng-class="{ active: $state.includes('businessSetup') }">{{'settings' | i18next}}</a></li>
                    <li><a ui-sref="bookingAdmin" ui-sref-active="active">{{'booking' | i18next}}</a></li>
                    <li>
                    </li>
                    <li class="login-right">
                        <a class="kb-link fa fa-question-circle" ng-hide="!isBigScreen" href="http://support.coachseek.com/" target="_blank"></a>
                        <a class="logout" ng-click="currentUser ? logout() : login()" ng-i18next>{{currentUser ? 'logout-text' : 'login-text'}}</a>
                    </li>
                 </ul>
            </div>
            <trial-status ng-if="business.subscriptionPlan === 'Trial'" trial-days-left="currentUser.trialDaysLeft"></trial-status>
        </div>

        <div id="page-content-wrapper" ng-click="isCollapsed = true">
            <div class="main-container">
                <div ui-view id="main-view" state="{{$state.current.name}}"></div>
            </div>
            <div class="alert-container">
                <alert class="fade-in-out" ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.dismissTimeout}}" close="closeAlert($index)" >
                    <span ng-i18next="[i18next]({alert:alert}){{alert.code || alert.message}}"></span>
                </alert>
            </div>
         </div>
    </div>
    <!-- @if env == 'production' -->
    <script src="//static.intercomcdn.com/intercom.v1.js"></script>
    <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'www.fullstory.com';
    window['_fs_org'] = 'NB1H';
    (function(m,n,e,t,l,o,g,y){
      g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
      o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
      y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
      g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};
      g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;FS(o,v)};
      g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
      ';path=/;expires='+new Date(0);i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}
    })(window,document,'FS','script','user');
    </script>
    <!-- @endif -->
    <script src="//connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>
