<configuration>
   <system.webServer>
      <staticContent>
		<mimeMap fileExtension=".json" mimeType="application/json" />
		<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      </staticContent>
      <rewrite>
           <rules>
                <rule name="StaticContent">
                     <action type="Rewrite" url="src{{REQUEST_URI}}"/>
                </rule>
           </rules>
      </rewrite>
   </system.webServer>
</configuration>