/* Rule - Dont add here unless color is repeated in more than 1 place */
$green: #00A478;
$mid-green: #00774F;
$dark-green: #004734;
$red: #E64C3C;
$dark-red: #CC0A00;
$yellow: #F0C30F;
$orange: #E88801;
$blue: #37A5E2;
$mid-blue: #2980B8;
$dark-blue: #325068;

$light-green: #00BF8C;

$grey: #989898;
$dark-grey: #525252;
$light-grey: #E0E0E0;
$border-light-grey: #AFAFAF;
$text-grey: #A3A3A3;
$text-dark-grey: #4D4D4D;
$mobile-text-grey:#989898;
$mobile-background-dark:#2c3e50;

$white: #FFFFFF;
$another-white: #F1F1F1;

$background-grey: #C8C8C8;
$background-beige: #EEEEEE;
$background-navy: #2C3E50;

$nav-bar-height: 55px;
/* PARENT ELEMENT MUST HAVE HEIGHT */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%green-button{
    color: $white;
    background: $green;
    border: none;
    border-radius: 5px;
    padding: 7.5px 25px;
}

%service-background-colors{
  &.green      { background-color: $green; }
  &.mid-green  { background-color: $mid-green; }
  &.dark-green { background-color: $dark-green; }
  &.red        { background-color: $red; }
  &.dark-red   { background-color: $dark-red; }
  &.yellow     { background-color: $yellow; }
  &.orange     { background-color: $orange; }
  &.blue       { background-color: $blue; }
  &.mid-blue   { background-color: $mid-blue; }
  &.dark-blue  { background-color: $dark-blue; }
}

%service-background-colors-60{
  &.green      { background-color: rgba(0,165,120,.6); }
  &.mid-green  { background-color: rgba(0,119,79,.6) }
  &.dark-green { background-color: rgba(0,71,52,.6) }
  &.red        { background-color: rgba(231,76,60,.6); }
  &.dark-red   { background-color: rgba(204,10,0,.6); }
  &.yellow     { background-color: rgba(240,195,15,.6); } 
  &.orange     { background-color: rgba(232,136,1,.6); }
  &.blue       { background-color: rgba(55,165,226,.6); }
  &.mid-blue   { background-color: rgba(41,128,184,.6); }
  &.dark-blue  { background-color: rgba(50,80,104,.6); }
}

%service-border-colors{
  &.green      { border-color: $green; }
  &.mid-green  { border-color: $mid-green; }
  &.dark-green { border-color: $dark-green; }
  &.red        { border-color: $red; }
  &.dark-red   { border-color: $dark-red; }
  &.yellow     { border-color: $yellow; }
  &.orange     { border-color: $orange; }
  &.blue       { border-color: $blue; }
  &.mid-blue   { border-color: $mid-blue; }
  &.dark-blue  { border-color: $dark-blue; }
}

body {
  font-family: lato-regular;
  background: $background-beige;
  padding-top: 55px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

select{
    background: $white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.ng-invalid.ng-dirty {
  border-color: $red;
}

.ng-valid.ng-dirty {
  border-color: $green;
}

span.hidden {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=password]{
  font-family: FontAwesome;
  font-size: 12px;
  letter-spacing: 2px;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

button{
  outline: none;
}

button:disabled{
  opacity: 0.5;
}

.container{
  width: 100% !important;
  max-width: none !important;

  li.logout{
    height: 55px;
    line-height: 55px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-align: center;
  }
}

hr{
  border: none;
  background-color: $light-grey;
  height: 1px;
  clear: both;

  &.double-wide{
    height: 2px;
  }
}

input, textarea{
  border-radius: 5px;
  border: 1px solid transparent;
  color: $text-dark-grey;
  padding: 5px 10px;
  width: 100%;

  &:focus{
    outline: none;
  }
}

select-arrows{
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 30px;
  pointer-events: none;

  i{
    position: absolute;

    &.fa-caret-down{
      bottom: 5px;
    }
    &.fa-caret-up{
      top: 3px;
    }
  }
}

@font-face
{
  font-family: lato-regular;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face
{
  font-family: lato-bold;
  src: url('../assets/fonts/Lato-Bold.ttf');
}

.main-container{
// padding: 10px;
  .list-item-container-wrapper{
    padding:10px;
  }
}

