$green: #00A478;
$hover-green: #008561;
$clicked-green: #007354;

$hover-dark-grey: #3A3A3A;

$mid-green: #00774F;
$dark-green: #004734;
$red: #E64C3C;
$dark-red: #CC0A00;
$yellow: #F0C30F;
$orange: #E88801;
$blue: #37A5E2;
$mid-blue: #2980B8;
$dark-blue: #325068;

$light-green: #00BF8C;

$grey: #989898;
$dark-grey: #525252;
$light-grey: #E0E0E0;
$border-light-grey: #AFAFAF;
$text-grey: #A3A3A3;
$text-dark-grey: #4D4D4D;

$mobile-text-grey:#989898;
$mobile-background-dark:#2c3e50;

$white: #FFFFFF;
$another-white: #F1F1F1;

$background-grey: #C8C8C8;
$background-beige: #EEEEEE;
$background-navy: #2C3E50;

$nav-bar-height: 55px;

/* PARENT ELEMENT MUST HAVE HEIGHT */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%green-button{
    color: $white;
    background: $green;
    border: none;
    border-radius: 5px;
    padding: 7.5px 25px;
    width: 170px;
    height: 40px;
    transition: background-color 0.5s ease;
    &:hover{
      background: $hover-green;
    }

}

%orange-button{
    color: $white;
    background: $orange;
    border: none;
    border-radius: 5px;
    padding: 7.5px 25px;
}

%grey-button{
    color: $white;
    background: $dark-grey;
    border: none;
    border-radius: 5px;
    padding: 7.5px 25px;
}

%delete-button{
    color: $text-grey;
    background: transparent;
    border: none;
}

%service-background-colors{
  &.green      { background-color: $green; }
  &.mid-green  { background-color: $mid-green; }
  &.dark-green { background-color: $dark-green; }
  &.red        { background-color: $red; }
  &.dark-red   { background-color: $dark-red; }
  &.yellow     { background-color: $yellow; }
  &.orange     { background-color: $orange; }
  &.blue       { background-color: $blue; }
  &.mid-blue   { background-color: $mid-blue; }
  &.dark-blue  { background-color: $dark-blue; }
}

%service-background-colors-60{
  &.green      { background-color: rgba(0,165,120,.6); }
  &.mid-green  { background-color: rgba(0,119,79,.6) }
  &.dark-green { background-color: rgba(0,71,52,.6) }
  &.red        { background-color: rgba(231,76,60,.6); }
  &.dark-red   { background-color: rgba(204,10,0,.6); }
  &.yellow     { background-color: rgba(240,195,15,.6); } 
  &.orange     { background-color: rgba(232,136,1,.6); }
  &.blue       { background-color: rgba(55,165,226,.6); }
  &.mid-blue   { background-color: rgba(41,128,184,.6); }
  &.dark-blue  { background-color: rgba(50,80,104,.6); }
}

%service-border-colors{
  &.green      { border-color: $green; }
  &.mid-green  { border-color: $mid-green; }
  &.dark-green { border-color: $dark-green; }
  &.red        { border-color: $red; }
  &.dark-red   { border-color: $dark-red; }
  &.yellow     { border-color: $yellow; }
  &.orange     { border-color: $orange; }
  &.blue       { border-color: $blue; }
  &.mid-blue   { border-color: $mid-blue; }
  &.dark-blue  { border-color: $dark-blue; }
}

body {
  font-family: lato-regular;
  background: $background-beige;

  &.with-navbar{
    padding-top: 55px;    
  }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

select{
    background: $white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.coachseek-logo{
    background: url("../assets/pics/logo-wordless.png") no-repeat center;
    height: 75px;
    width: 75px;
    margin: 0 auto 30px auto;
}

.ng-invalid.ng-dirty {
  border-color: $red;
}

.ng-valid.ng-dirty {
  border-color: $green;
}

span.hidden {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=password]{
  font-family: FontAwesome;
  font-size: 12px;
  letter-spacing: 2px;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

button{
  outline: none;
}

button:disabled{
  opacity: 0.5;
}

.fa.kb-link{
  color: $white;
  position: absolute;
  left: 0;
  font-size: 18px;
  line-height: 55px;
  padding: 0;

  &:hover, &:focus{
    background-color: transparent !important;
  }
}

.logout{
  cursor: pointer;
  float: right;
}

.container{
  width: 100% !important;
  max-width: none !important;
}

hr{
  border: none;
  background-color: $light-grey;
  height: 1px;
  clear: both;

  &.double-wide{
    height: 2px;
  }
}

input, textarea{
  border-radius: 5px;
  border: 1px solid transparent;
  color: $text-dark-grey;
  padding: 5px 10px;
  width: 100%;

  &:focus{
    outline: none;
  }
}

select-arrows{
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 30px;
  pointer-events: none;

  i{
    position: absolute;

    &.fa-caret-down{
      bottom: 5px;
    }
    &.fa-caret-up{
      top: 3px;
    }
  }
}

@font-face
{
  font-family: lato-regular;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face
{
  font-family: lato-bold;
  src: url('../assets/fonts/Lato-Bold.ttf');
}

.main-container{
  .list-item-container-wrapper{
    padding:10px;
  }
}

@media (max-width: 768px) {
  input,textarea{
    padding: 10px 10px;
  }
  .navbar-header .indicator-container{
    display: none !important;
  }

      ul{

        li{
           &.active{
            background-color: $light-green;
           }
          a{
            
            float: right;
            padding-right: 10px;
            color: $white;
            
          }
        }
      }

  /* Toggle Styles */

  .toggle-icon{
    display: block !important;
  }

  #wrapper {
      padding-left: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #wrapper.toggled {
      padding-left: 140px;
  }

  .sidebar-wrapper {
      z-index: 1040;
      position: fixed;
      left: 140px;   
      top:0px;
      height: 100%;
      margin-left: -140px;
      overflow-y: auto;
      background: rgba(0,0,0,0.6);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #wrapper.toggled .sidebar-wrapper {
      width: 140px;
  }

  #page-content-wrapper {
      width: 100%;
      padding: 0px;
  }

  #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -140px;
  }

  /* Sidebar Styles */

  .sidebar-nav {
      position: absolute;
      top: 0;
      width: 140px;
      height: 100%;
      margin: 0;
      padding: 10px 0 0 0;
      background: $green;
      list-style: none;
      overflow: hidden;
  }
  li.login-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: $background-navy;
    width: 100%;
    cursor: pointer;
  }

  .sidebar-nav li {
      text-indent: 20px;
      line-height: 40px;

  }

  .sidebar-nav li a {
      display: block;
      text-decoration: none;
      width: 100%;
      color: $white;
      padding:4% 15px 4% 0px;
      text-align: right;
  }

  .sidebar-nav li a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255,255,255,0.2);
  }
  .sidebar-nav li.toggle-icon a:hover{background: transparent;}

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
      text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;
  }

  .sidebar-nav > .sidebar-brand a {
      color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
      color: #fff;
      background: none;
  }

  .shadow-wrapper{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1039;  
  }

}

@media (min-width: 769px){
  .main-container{
    .list-item-container-wrapper{
      position: relative;
      top:28px;
      margin-bottom: 80px;
    }
  }
  .mobi-nav{
    display: none !important;
  }
  .toggle-icon{
    display: none !important;
  }
  .nav > li.login-right{
    position: absolute;
    right: 0px;    
  }

}
