/*TODO - go through and see if these are repeated
        if not, remove from here.*/
/* Rule - Dont add here unless color is repeated in more than 1 place */
$green: #00A478;
$light-green: #00BF8C;
$rgba-green-25: rgba(0,165,120, .25);
$rgba-green-50: rgba(0,165,120, .5);
$rgba-green-60: rgba(0,165,120, .6);

$red: #E64C3C;
$rgba-red-50: rgba(231, 76, 60, .5);
$rgba-red-60: rgba(231, 76, 60, .6);

$blue: #2980B8;
$rgba-blue-60: rgba(41,128,184, .6);
$dark-blue: #2C3E50;

$orange: #E57E22;
$rgba-orange-60: rgba(229,126,34, .6);

$yellow: #F0C30F;
$rgba-yellow-60: rgba(240,195,15, .6);

$grey: #989898;
$dark-grey: #525252;
$light-grey: #E0E0E0;
$light-grey-50: rgba(224,224,224, .5);
$border-grey: #B0B0B0;
$border-light-grey: #AFAFAF;
$text-grey: #A3A3A3;
$text-dark-grey: #4D4D4D;
$background-grey: #C8C8C8;

$white: #FFFFFF;
$another-white: #F1F1F1;

$background-beige: #EEEEEE;

$nav-bar-height: 55px;

/* PARENT ELEMENT MUST HAVE HEIGHT */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%service-background-colors{
  &.green { background-color: $green; }
  &.blue  { background-color: $blue; }
  &.red   { background-color: $red; }
  &.orange{ background-color: $orange; }
  &.yellow{ background-color: $yellow; } 
}

%service-background-colors-60{
  &.green { background-color: $rgba-green-60; }
  &.blue  { background-color: $rgba-blue-60; }
  &.red   { background-color: $rgba-red-60; }
  &.orange{ background-color: $rgba-orange-60; }
  &.yellow{ background-color: $rgba-yellow-60; } 
}

%service-border-colors{
  &.green { border-color: $green; }
  &.blue  { border-color: $blue; }
  &.red   { border-color: $red; }
  &.orange{ border-color: $orange; }
  &.yellow{ border-color: $yellow; } 
}

body {
  font-family: lato-regular;
  background: $background-beige;
  padding-top: 55px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

select{
    background: $white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.ng-invalid.ng-dirty {
  border-color: $red;
}

.ng-valid.ng-dirty {
  border-color: $green;
}

span.hidden {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

button{
  outline: none;
}

button:disabled{
  opacity: 0.5;
}

.error-messages, .prompt-messages{
  /* Needs to be positioned absolutley so error
     messages dont move form down */
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    color: $red;

    i{
      display: inline;
      color: $red;
      position: absolute;
      top: -30px;
      right: 7.5px;
    }
}

.form-input{
  width: 100%;
  float: left;
  margin-bottom: 15px;
  position: relative;
  
  &.left-col{
    width: 48%;
    margin-right: 4%;
  }
  &.right-col{
    width: 48%;
  }

  &:last-of-type{
    margin-bottom: 20px;
  }
}

input, textarea{
  border-radius: 5px;
  border: 1px solid transparent;
  color: $text-dark-grey;
  padding: 5px 10px;
  width: 100%;

  &:focus{
    outline: none;
  }
}

label{
  color: $text-grey;
  font-size: 11px;
  display: block;
  padding: 2.5px 0px;
}

form{
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 10px;
}

.cancel-button{
  background: none;
  border: none;
  float: right;
  margin-right: 30px;
  color: $green;
  height: 35px;
}

.save-button{
  float: right;
  color: $white;
  background: $green;
  border: none;
  border-radius: 5px;
  padding: 7.5px 25px;
}

.course-price, .session-price{
  input{
    padding-left: 17px;
  }

  .money-sign{
    color: $text-grey;
    position: absolute;
    top: 25px;
    left: 6px;
    font-size: 15px;
  }
}

select-arrows{
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 30px;
  pointer-events: none;

  i{
    position: absolute;

    &.fa-caret-down{
      bottom: 5px;
    }
    &.fa-caret-up{
      top: 3px;
    }
  }
}

@font-face
{
  font-family: lato-regular;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face
{
  font-family: lato-bold;
  src: url('../assets/fonts/Lato-Bold.ttf');
}