.alert-container{
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 300px;
  z-index: 50001;

  .alert{
    border: none;
    color: $white;

    &.alert-warning{
      background: $red;
    }

    &.alert-success{
      background: $light-green; 
    }

    &.alert-danger{
      background: $red;
    }

    &.fade-in-out.ng-enter, 
    &.fade-in-out.ng-leave
    { 
      -webkit-transition: 400ms linear all;
      -moz-transition: 400ms linear all;
      -ms-transition: 400ms linear all;
      -o-transition: 400ms linear all;
      transition: 400ms linear all;
    } 

    &.fade-in-out.ng-leave.fade-in-out.ng-leave-active,
    &.fade-in-out.ng-enter {
      opacity: 0;
    }

    &.fade-in-out.ng-enter.ng-enter-active, 
    &.fade-in-out.ng-leave {
      opacity: 1;
    }
  }
}

@media (max-width: 767px){
  .alert-container{
    width: 100%;
  }
  .alert{
    &:last-child{
      margin-bottom: 0px;
    }
  }
}