
.alert{
  position: fixed;
  bottom: 0;
  left: 0;  
  max-width: 300px;
  &.fade-in-out.ng-enter, 
  &.fade-in-out.ng-leave
  { 
    -webkit-transition: 400ms linear all;
    -moz-transition: 400ms linear all;
    -ms-transition: 400ms linear all;
    -o-transition: 400ms linear all;
    transition: 400ms linear all;
  } 

  &.fade-in-out.ng-leave.fade-in-out.ng-leave-active,
  &.fade-in-out.ng-enter {
    bottom: -200px;
  }

  &.fade-in-out.ng-enter.ng-enter-active, 
  &.fade-in-out.ng-leave {;
    bottom: 0;
  }
}