.onboarding-modal-backdrop{

}

.onboarding-modal-container{
    overflow: hidden;
    padding: 10px 20px 20px 20px;
    background: $white;
    font-weight: $lato-light;
    width: 485px;
    margin: 0 auto;

    &.onboarding-review-container{
        width: 445px;

        a{
            color: $green;
            cursor: pointer;
        }
    }

    &.exit-onboarding-container{
        width: 400px;
        text-align: center;

        button{
            float: none;
        }
    }

    h2, .title{
        font-size: 34px;
        color: $green;
        text-align: center;
    }

    h3{
        font-size: 24px;
        color: $green;
    }

    h4, .subtitle{
        font-size: 13px;
        color: $text-dark-grey;
        text-align: center;
    }

    form{
        margin-bottom: 0;
    }

    .form-input {
        margin-bottom: 20px;
        &.coach-name{
            input{
                width: 170px;
            }
        }

        label{
            padding: 0;
            float: right;
            font-size: 13px;
            color: $text-dark-grey;
            line-height: 38px;
        }

        input {
            margin-left: 10px;
            float: right;
            border: 1.5px solid $border-light-grey;
            border-radius: 5px;
            padding: 8px;
            width: 350px;
        }

        i.fa-times{
            top: -34px;
        }
        .error-messages{
            text-align: right;
        }
    }

    p{
        margin-bottom: 15px;
        font-size: 13px;

        em{
            font-style: italic;
        }
    }

    .save-button{
        padding: 0;
    }
    button.close{
        height: 40px;
        font-size: 14px;
        margin-right: 50px;
        color: $text-dark-grey;
    }
}