<li class="student-details">
    <div class="attending-checkbox" ng-disabled="bookingLoading" ng-click="toggleAttendance()">
        <i class="fa" ng-class="{'fa-check': booking.hasAttended}" ng-hide="bookingLoading"></i>
        <ellipsis-animated ng-show="bookingLoading"/>
    </div>
    <div class="item-title">{{booking.customer.firstName}} <br ng-hide="isBigScreen">{{booking.customer.lastName}}</div>
    <div class="delete-booking delete-button" ng-click="removeBooking()" ng-disabled="bookingLoading">
        <i class="fa fa-trash-o"></i>
    </div>
    <div class="payment-status" ng-disabled="bookingLoading" ng-class="paymentStatus" ng-click="changePaymentStatus()" ng-i18next='scheduling:payment-status.{{paymentStatus}}'></div>
</li>