<li class="customer-details" ng-disabled="isSessionStudent || isCourseStudent">
    <span class="item-title first-name" ng-bind-html="item.firstName | highlight:this">{{item.firstName}}</span>
    <span class="item-title last-name" ng-bind-html="item.lastName | highlight:this">{{item.lastName}}</span>

    <button class="add-student to-course fa"
    	ng-if="currentEvent.course"
    	ng-class="isCourseStudent ? 'fa-check' : 'fa-plus'"
    	ng-click="addBooking(true)"
    	ng-hide="bookingLoading"></button>

    <button class="add-student to-session fa"
    	ng-class="isSessionStudent ? 'fa-check' : 'fa-plus'"
    	ng-click="addBooking(false)"
    	ng-hide="bookingLoading"></button>

    <ellipsis-animated ng-show="bookingLoading"></ellipsis-animated>
</li>