<div class="attendance-list">
    <button class="show-customer-list" ng-class="{'showing': showCustomers}" ng-click="toggleCustomerList()" ng-disabled="blockAddBookings()">
        <span class="add-student-text">
            <i class="fa fa-plus"></i>
            {{'scheduling:add-student' | i18next}}
        </span>
    </button>
    <div class="student-list">
        <ul>
            <customer-booking ng-repeat="booking in currentEvent.session.booking.bookings | orderBy:['customer.lastName', 'customer.firstName']"></customer-booking>
            <div class="no-students" ng-if="!currentEvent.session.booking.bookings">{{'scheduling:no-students-found' | i18next}}</div>
        </ul>
    </div>
    <div class="customer-list" ng-class="{'showing': showCustomers}" ng-controller="customerSearchCtrl" ng-class="{'short-list': currentEvent.course}">
        <div class="search-container">
            <i class="fa fa-lg fa-search"></i>    
            <input ng-model="searchText" placeholder="{{'customers:search-customers' | i18next}}"/>
            <div class="add-to-titles" ng-if="currentEvent.course">
                <div>{{'customers:entire-course'  | i18next}}</div>
                <div>{{'customers:single-session' | i18next}}</div>
            </div>
        </div>
        <ul infinite-scroll='loadMore()' infinite-scroll-parent="true">
            <modal-customer-details ng-repeat="item in customerList"></modal-customer-details>
            <div class="no-customers" ng-show="!customerList.length">{{'customers:no-customers-found' | i18next}}</div>
        </ul>
    </div>
</div>