<div class="attendance-list">
    <div class="session-modal-title">
        <span ng-i18next>{{showCustomers ? 'scheduling:add-student' : 'scheduling:service-details.register'}}</span>
        <i class="fa fa-times" ng-click="cancelModalEdit()"></i>        
    </div>
    <button class="create-item" ng-click="showCustomerList()" ng-hide="showCustomers" ng-disabled="blockAddBookings()">
        <i class="fa fa-plus"></i>
        {{'scheduling:add-student' | i18next}}
    </button>
    <div class="customer-list" ng-show="showCustomers" ng-controller="customerSearchCtrl">
        <span class="back-arrow" ng-click="hideCustomerList()">
            <i class="fa fa-left-single-arrow"></i>
            <span>{{'scheduling:back' | i18next}}</span>
        </span>
        <div class="search-container">
            <i class="fa fa-lg fa-search"></i>    
            <input ng-model="searchText" placeholder="{{'customers:search-customers' | i18next}}"/>
            <div class="add-to-titles" ng-if="currentEvent.course">
                <div>{{'customers:entire-course' | i18next}}</div>
                <div>{{'customers:single-session' | i18next}}</div>
            </div>
        </div>
        <ul infinite-scroll='loadMore()' ng-class="{'short-list': currentEvent.course}">
            <modal-customer-details ng-repeat="item in customerList"></modal-customer-details>
            <div class="no-customers" ng-if="!customerList.length">{{'customers:no-customers-found' | i18next}}</div>
        </ul>
    </div>
    <div class="student-list" ng-hide="showCustomers">
        <ul>
            <customer-booking ng-repeat="booking in currentEvent.session.booking.bookings | orderBy:['customer.lastName', 'customer.firstName']"></customer-booking>
            <div class="no-students" ng-if="!currentEvent.session.booking.bookings">{{'scheduling:no-students-found' | i18next}}</div>
        </ul>
    </div>
</div>