<li class="customer-details" ng-if="!isCourseStudent">
    <span class="item-title first-name" ng-bind-html="item.firstName | highlight:this">{{item.firstName}}</span>
    <span class="item-title last-name" ng-bind-html="item.lastName | highlight:this">{{item.lastName}}</span>

    <button class="add-student to-course fa fa-plus"
    	ng-if="currentEvent.course"
        ng-click="addBooking('addToCourse', item)"
    	ng-hide="bookingLoading"></button>

    <button class="add-student to-session fa fa-plus"
    	ng-click="addBooking('addToSession', item, currentEvent.session.id)"
    	ng-hide="bookingLoading"></button>

    <ellipsis-animated ng-show="bookingLoading"></ellipsis-animated>
</li>