<div class="scheduling-container" ng-class="{'calendar-fix': showModal}" ng-init="modalTab = 'general'">
    <div class="services-list-container" ng-class="{closed: !isBigScreen || !calendarView.serviceDrawerOpen}">
        <scheduling-services-list></scheduling-services-list>
    </div>

    <div class="page-loading" ng-show="calendarLoading">
        <div class="indicator-container">
            <div class='outer-logo'></div>
            <div ng-class="{active: calendarLoading}" class='inner-logo'></div>
        </div>
    </div>

    <div class="calendar-container calendar-container-desktop" ng-class="calendarView.serviceDrawerOpen ? 'toggle-open':'toggle-closed'">
        <div class="dropdown-container" ng-class="isBigScreen ? 'coach-list' : 'coach-list-responsive' " ng-disabled="showModal">
            <select ng-change="filterSessions()" name="coaches" ng-model="calendarView.coachId" ng-options="coach.id as coach.name for coach in coachList">
                <option value="">{{'scheduling:all-coaches' | i18next}}</option>
            </select>
        </div>
        <div class="dropdown-container" ng-class="isBigScreen? 'location-list' :'location-list-responsive' " ng-disabled="showModal">
            <select ng-change="filterSessions()" name="locations" ng-model="calendarView.locationId" ng-options="location.id as location.name for location in locationList">
                <option value="">{{'scheduling:all-locations' | i18next}}</option>
            </select>
        </div>
        <div class="coach-title" ng-show="isBigScreen">{{getCurrentCoach() || 'All Coaches'}}</div>
        <div class="calendar" id="session-calendar" ui-calendar="uiConfig.calendar" ng-model="events" calendar="sessionCalendar"></div>
    </div>
    <div class="modal-backdrop" ng-show="showModal">
        <div class="modal-container" ng-class="modalTab">
            <div class="modal-header" ng-class='currentEvent.session.presentation.colour'>
                <button class="close-modal-button fa fa-close" ng-click="cancelModalEdit()"></button>
                {{currentEvent._start | amDateFormat:'dddd, MMMM Do YYYY'}},&nbsp;{{currentEvent._start | amDateFormat:'h:mm a'}}
            </div>
            <div class="modal-nav">
                <div class="slider-nav">
                    <div class="slider-nav-option general-header" data-tab-name="general" ng-click="modalTab = 'general'" ng-class="{'active': modalTab === 'general'}">{{'scheduling:general' | i18next}}</div>
                    <div class="slider-nav-option attendance-header" data-tab-name="attendance" ng-disabled="currentEvent.tempEventId" ng-click="modalTab = 'attendance'" ng-class="{'active': modalTab === 'attendance'}">{{'scheduling:attendance' | i18next}}</div>
                    <div class="slider-nav-option payment-header" data-tab-name="payment" ng-disabled="currentEvent.tempEventId" ng-click="modalTab = 'payment'" ng-class="{'active': modalTab === 'payment'}">{{'scheduling:payment' | i18next}}</div>
                </div>
            </div>

            <general-settings-modal ng-show="modalTab === 'general'"></general-settings-modal>
            <course-attendance-modal ng-show="modalTab === 'attendance' || modalTab === 'payment'"></course-attendance-modal>
        </div>
    </div>
</div>