<div class="session-modal session-modal-responsive" onboarding-popover onboarding-step="'sessionModal'" onboarding-show="'showSessionModalPopover'" onboarding-hide="'hideSessionModalPopover'" id="session-modal" popover-template="'onboarding/partials/sessionModalPopover.html'" popover-trigger="showSessionModalPopover" popover-placement="left">
    <div class="session-modal-nav" ng-init="currentTab = 'general'">
        <div class="general" ng-class="{active: currentTab === 'general'}" ng-click="currentTab = 'general'">{{'scheduling:general' | i18next}}</div>
        <div class="attendance" ng-disabled="currentEvent.tempEventId" ng-class="{active: currentTab === 'attendance'}" ng-click="currentTab = 'attendance'">{{'scheduling:attendance' | i18next}}</div>
    </div>
    <hr class="double-wide"/>
        
    <modal-session-form ng-show="currentTab === 'general'"></modal-session-form>

    <modal-session-attendance-list ng-show="currentTab === 'attendance'"></modal-session-attendance-list> 
</div>