<div class="setup-nav-container">
    <a class="setup-nav nav-to-business" ui-sref="businessSetup.business" ui-sref-active="active">{{'businessSetup:nav-to-business' | i18next}}</a>
    <a class="setup-nav nav-to-locations" ui-sref="businessSetup.locations" ui-sref-active="active">{{'businessSetup:nav-to-locations' | i18next}}</a>
    <a class="setup-nav nav-to-coaches" ui-sref="businessSetup.coachList" ui-sref-active="active">{{'businessSetup:nav-to-coaches' | i18next}}</a>
    <a class="setup-nav nav-to-services" ui-sref="businessSetup.services" ui-sref-active="active">{{'businessSetup:nav-to-services' | i18next}}</a>
    <hr class="double-wide">
</div>
<div class="list-item-container-wrapper">  
    <div ui-view="list-item-view"></div>
</div>