<div class="setup-nav-container slider-nav">
    <a class="setup-nav nav-to-business slider-nav-option" ui-sref="businessSetup.business" ui-sref-active="active">{{'businessSetup:nav-to-business' | i18next}}</a>
    <a class="setup-nav nav-to-locations slider-nav-option" ui-sref="businessSetup.locations" ui-sref-active="active">{{'businessSetup:nav-to-locations' | i18next}}</a>
    <a class="setup-nav nav-to-coaches slider-nav-option" ui-sref="businessSetup.coachList" ui-sref-active="active">{{'businessSetup:nav-to-coaches' | i18next}}</a>
    <a class="setup-nav nav-to-services slider-nav-option" ui-sref="businessSetup.services" ui-sref-active="active">{{'businessSetup:nav-to-services' | i18next}}</a>
</div>
<div class="list-item-container-wrapper">  
    <div ui-view="list-item-view"></div>
</div>