<div class="business-list-view crud-list" ng-hide="item">
    <ul>
        <li class="business-details">
            <button class="edit-item" ng-click="editItem()">{{'edit-details' | i18next}}</button>
            <span class="item-title">{{business.name}}</span>
            <span class="item-subtitle" >{{business.currency}}</span>
            <span class="item-subtitle last">{{business.domain}}.coachseek.com</span>
            <hr/>
        </li>
    </ul>
</div>
<div class="business-item-view crud-item" ng-show="item">
    <form name="itemForm" novalidate ng-enter="saveItem(item)">
        <div class="form-input">
            <label name="name">{{'businessSetup:business-details.name' | i18next}}</label>
            <input name="name" ng-model="business.name" placeholder="{{'businessSetup:business-details.placeholder.name' | i18next}}" required ng-maxlength=50 />

            <div class="error-messages" ng-messages="itemForm.name.$error" ng-if="itemForm.name.$touched">
                <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            </div>
        </div>

        <currency-picker></currency-picker>
    </form>

    <button class="save-button" ng-click="saveItem(item)" ng-disabled="AILoading"><span ng-i18next>{{AILoading ? 'saving' : 'save-details'}}</span><ellipsis-animated ng-show="AILoading"/></button>
    <button class="cancel-button" ng-hide="newItem" ng-click="cancelEdit()">{{'cancel' | i18next}}</button>
</div>