<div class="service-list-view" ng-hide="item">
    <button class="create-item" ng-click="createItem()" ng-disabled="AILoading">
        <i class="fa fa-plus"></i>
        {{'businessSetup:add-service' | i18next}}
    </button>
    <hr />
    <ul>
        <li class="service-details" ng-repeat="item in itemList | orderBy:'name'">
            <button class="edit-item" ng-click="editItem(item)">{{'edit-details' | i18next}}</button>
            <span class="item-title">{{item.name}}</span>
            <span class="item-subtitle service-description last">{{item.description}}</span>
            <hr />
        </li>
    </ul>
</div>
<div class="service-item-view" ng-show="item">
    <form name="itemForm" novalidate ng-enter="saveItem(item)">
        <div class="form-input">
            <label name="name">{{'businessSetup:service-details.name' | i18next}}</label>
            <input name="name" ng-model="item.name" placeholder="{{'businessSetup:service-details.placeholder.name' | i18next}}"  required ng-maxlength=50 />

            <div class="error-messages" ng-messages="itemForm.name.$error" ng-if="itemForm.name.$touched">
                <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            </div>
        </div>

        <div class="form-input">
            <label name="description">{{'businessSetup:service-details.description' | i18next}}</label>
            <textarea name="description" ng-model="item.description" placeholder="{{'businessSetup:service-details.placeholder.description' | i18next}}" ng-maxlength="200"></textarea>

            <div class="error-messages" ng-messages="itemForm.description.$error" ng-if="itemForm.description.$touched">
                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            </div>
        </div>

        <div class="form-input left-col">
            <label name="duration">{{'businessSetup:service-details.duration' | i18next}}</label>
            <input name="duration" type="number" ng-model="item.timing.duration" placeholder="{{'businessSetup:service-details.placeholder.duration' | i18next}}"  min="15" max="1440" step="15" />
        </div>

        <div class="form-input left-col">
            <label name="studentCapacity">{{'businessSetup:service-details.student-capacity' | i18next}}</label>
            <input name="studentCapacity" type="number" ng-model="item.booking.studentCapacity" placeholder="{{'businessSetup:service-details.placeholder.student-capacity' | i18next}}"  min="1"  />
        </div>

        <div class="form-input">
            <label>{{'businessSetup:service-details.service-colour' | i18next}}</label>
            <color-picker
                current-color="item.presentation.colour"
            ></color-picker>
        </div>

        <repeat-selector
            repeat-frequency="item.repetition.repeatFrequency"
            session-count="item.repetition.sessionCount"
        ></repeat-selector>

        <div class="session-price form-input left-col">
            <label name="sessionPrice">{{'businessSetup:service-details.session-price' | i18next}}</label>
            <span class="money-sign">{{'denomination' | i18next}}</span>
            <input name="sessionPrice" type="number" ng-model="item.pricing.sessionPrice" placeholder="{{'businessSetup:service-details.placeholder.session-price' | i18next}}"  min="0" step=".01"  />
        </div>

        <div class="course-price form-input right-col" ng-hide="item.repetition.sessionCount < 2" >
            <label name="coursePrice">{{'businessSetup:service-details.course-price' | i18next}}</label>
            <span class="money-sign">{{'denomination' | i18next}}</span>
            <input name="coursePrice" type="number" ng-model="item.pricing.coursePrice" placeholder="{{'businessSetup:service-details.placeholder.course-price' | i18next}}"  min="0" step=".01" />
        </div>
    </form>

    <!-- POST here -->
    <button class="save-button" ng-click="saveItem(item)" ng-disabled="AILoading" ng-i18next="[i18next]{{ AILoading ? 'saving' : 'save-details'}}"></button>
    <button class="cancel-button" ng-hide="!itemList.length && newItem" ng-click="cancelEdit()">{{'cancel' | i18next}}</button>
</div>