<div class="time-picker">
    <div class="increase"> 
        <span class="hours" ng-click="increaseHours()">
            <span class="glyphicon glyphicon-chevron-up"></span> 
        </span>
        <span class="minutes" ng-click="increaseMinutes()"> 
            <span class="glyphicon glyphicon-chevron-up"></span> 
        </span>
    </div>
    <div class="display"> {{time}} </div>
    <div class="decrease">
        <span class="hours" ng-click="decreaseHours()">
            <span class="glyphicon glyphicon-chevron-down"></span> 
        </span> 
        <span class="minutes" ng-click="decreaseMinutes()"> 
            <span class="glyphicon glyphicon-chevron-down"></span> 
        </span> 
    </div>
</div>