[state^="customers"] {
    max-width: 475px;
    margin: 45px auto 200px auto;
    padding-bottom: 150px;
    .form-input{
        textarea{
            max-width: 100%;
            min-width: 100%;
        }

        &.phone-number{
            width: 70%;
            float: left;
        }

        &.sex{
            width: 25%;
            float: right;

            select{
                width: 100%;
            }

            select-overlay{
                position: absolute;
                left: 0px;
                top: 20px;
                height: 32px;
                line-height: 32px;
                background: #FFFFFF;
                color: #525252;
                text-align: center;
                border-radius: 5px;
            }
        }
    }
    .create-item{
        margin-bottom: 40px;
    }

    export-to-csv{
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 100;
        &[disabled]{
            opacity: 0.5;
            pointer-events: none;
        }
        button{
            @extend %grey-button;
            height: 40px;
        }
    }
}

@media (max-width: 767px){
    [state^="customers"] {
        max-width: 445px;
        margin: 15px 20px;
        .create-item{
            margin-bottom: 15px;
        }

        .form-input{
            select, select-overlay{
                height: 40px;
                line-height: 40px;
                select-arrows{
                    bottom: 4px;
                }
            }
        }
    }
}