[state^="customers"] {
    max-width: 445px;
    margin: 45px auto;

    .create-item{
        margin-bottom: 40px;

    }
}

@media (max-width: 767px){
    [state^="customers"] {
        max-width: 445px;
        margin: 15px 20px;
        .create-item{
            margin-bottom: 15px;
        }
    }
}