[state^="customers"] {
    max-width: 475px;
    margin: 45px auto 200px auto;
    .form-input{
        textarea{
            max-width: 100%;
            min-width: 100%;
        }
    }
    .create-item{
        margin-bottom: 40px;
    }

    export-to-csv{
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 100;
        &[disabled]{
            opacity: 0.5;
            pointer-events: none;
        }
        button{
            @extend %grey-button;
            height: 40px;
        }
    }
}

@media (max-width: 767px){
    [state^="customers"] {
        max-width: 445px;
        margin: 15px 20px;
        .create-item{
            margin-bottom: 15px;
        }

        .form-input{
            select, select-overlay{
                height: 40px;
                line-height: 40px;
                select-arrows{
                    bottom: 4px;
                }
            }
        }
    }
}