.customer-list{
    .search-container{
        position: relative;
        i{
            position: absolute;
            top: 9px;
            left: 10px;
            color: $text-grey;
        }

        input{
            padding-left: 35px;
        }
    }

    .customer-details {
        .item-title{
            clear: none;
            width: auto;

            &.last-name{
                margin-left: 5px;
            }
        }
    }

    .no-customers{
        margin-top: 30px;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .letter-search{
        width: 110%;
        margin: 15px 0 15px -5%;
        color: $text-dark-grey;

        span{
            font-size: 15px;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            text-align: center;
            width: calc(100%/27);
            display: inline-block;
            white-space: nowrap;

            &.active{
                font-size: 17px;
                font-family: lato-bold;
            }

            &:last-of-type{
                border-left: 2px solid $text-dark-grey;
                padding-left: 5px;
            }
        }
    }

    .highlighted{
        font-family: lato-bold;
        color: black;
    }
}

@media (max-width: 767px){
    .customer-list {
        .letter-search{
            width:10%;
            float:left;
            span{
                display: list-item;
            }
        }
        ul{
            width:100%;
            float:right;
        }
        &:after{
        clear:both;
    }
    }
    
}