[state^="customers"] {
    max-width: 475px;
    margin: 45px auto;

    .create-item{
        margin-bottom: 40px;

    }
}

@media (max-width: 767px){
    [state^="customers"] {
        max-width: 445px;
        margin: 15px 20px;
        .create-item{
            margin-bottom: 15px;
        }

        .form-input{
            select, select-overlay{
                height: 40px;
                line-height: 40px;
                select-arrows{
                    bottom: 4px;
                }
            }
        }
    }
}