<h2>Coaches</h2>
<div>
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:20%">First Name</td>
            <td style="width:20%">Last Name</td>
            <td style="width:20%">Email</td>
            <td style="width:20%">Phone</td>
            <td style="width:20%"></td>
        </tr>
        <tr ng-repeat="coach in coaches">
            <td>
                <span class="hidden" e-name="id" e-form="rowform">{{coach.id}}</span>
                <span editable-text="coach.firstName" e-name="firstName" e-form="rowform" e-placeholder="Enter coach first name" e-required>
                    {{ coach.firstName || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-text="coach.lastName" e-name="lastName" e-form="rowform" e-placeholder="Enter coach last name" e-required>
                    {{ coach.lastName || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-text="coach.email" e-name="email" e-form="rowform" e-type="email" e-placeholder="Enter coach email" e-required>
                    {{ coach.email || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-text="coach.phone" e-name="phone" e-form="rowform" e-placeholder="Enter coach phone" e-required>
                    {{ coach.phone || 'empty' }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveCoach($data, coach.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == coach">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="addCoach()">Add Coach</button>
    <fieldset class="form-group">
        <input type="button" class="btn btn-primary pull-right" value="Next >" />
    </fieldset>
</div>