<h2>Locations</h2>
<div>
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:75%">Location Name</td>
            <td style="width:25%"></td>
        </tr>
        <tr ng-repeat="location in locations">
            <td>
                <span class="hidden" e-name="id" e-form="rowform">{{location.id}}</span>
                <!-- editable username (text with validation) -->
                <span editable-text="location.name" e-name="name" e-form="rowform" onbeforesave="checkLocation($data, location.id)" e-placeholder="Enter location name" e-required>
                    {{ location.name || 'empty' }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveLocation($data, location.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == location">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="addLocation()">Add Location</button>
    <fieldset class="form-group">
        <button go-click="/{{business.domain}}/business/coaches" class="btn btn-primary pull-right">Next ></button>
    </fieldset>
</div>