
<div ng-controller="BusinessRegCtrl as businessRegCtrl" class="container body-content">
    <h2>Register Your Coaching Business</h2>
    <h4>Register a new Sports Coaching Business.</h4>
    <hr />
    <form name="businessRegForm" ng-submit="businessRegForm.$valid && registerBusiness()" novalidate>
        <div class="alert alert-danger" role="alert" ng-show="error.message"><strong>Error: </strong>{{error.message}}</div>
        <div class="row">
            <div class="col-lg-12">
                <fieldset class="form-group">
                    <input ng-model="businessReg.registrant.firstName" class="form-control" placeholder="First Name" title="First Name" required focus="true" />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="businessReg.registrant.lastName" class="form-control" placeholder="Last Name" title="Last Name" required />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="businessReg.registrant.email" name="email" class="form-control" type="email" placeholder="Email" title="Email" required />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="businessReg.registrant.password" class="form-control" type="password" placeholder="Password" title="Password" required />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="businessReg.businessName" class="form-control" placeholder="Business Name" title="Business Name" required />
                </fieldset>
                <div ng-show="business.id > 0">
                    <span>Debug: </span>
                    <span>Business Id: {{business.id}};</span>
                    <span>Business Name: {{business.name}};</span>
                    <span>Business Domain: {{business.domain}};</span>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Next >" />
        </fieldset>
    </form>
</div>