[state^="booking"] {
	max-width: 445px;
	margin: 20px auto;
	.filter-bar {
		margin: 0 0 10px 0;
	}

	.dropdown-container{
		position: relative;
		width: 50%;
		float: left;
		height: 30px;
		background: #F5F5F5;
		color: $grey;
		border: 1px solid $border-light-grey;
		-webkit-transition:left linear 0.3s;
		transition:left linear 0.3s;

		select{
			color: $grey;
			padding: 3px 20px 3px 10px;
			border: none;
			box-shadow: none;
			background: $another-white;
			background-image: none;
			-webkit-appearance: none;
			cursor: pointer;
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&:focus{
					outline: none;
			}
		}

		i{
			@extend %vertical-align;
			position: absolute;
			right: 10px;
			pointer-events: none;
			font-size: 10px;
		}
	}

	.session {

		&.session-details {
			cursor: pointer;
			width: 100%;
			margin: 0;
			padding: 10px 12.5px;
			background: $white;
			overflow: hidden;
			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
		}
		&.session-recap {
			margin-bottom: 20px;
			overflow: auto;
			width: 100%;
		}

		.session-color{
			float: left;
			padding: 0 10px 0 0;
			height: 60px;
		}

		.colour-circle{
			display: block;
			@extend %vertical-align;
			@extend %service-background-colors;
			width: 15px;
			height: 15px;
			border-radius: 10px;
		}


		.session-service {
			font-family: lato-bold;
			font-size: 14px;
			color: $text-dark-grey;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.session-duration, .session-pricing {
			float: right;
		}

		.session-location, .session-duration, .session-timing, .session-pricing {
			font-size: 12px;
			color: $grey;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.customer-recap {
		overflow: auto;
		width: 100%;
		.customer-details {
			.customer-name {
				font-family: lato-bold;
				font-size: 14px;
				color: $text-dark-grey;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.customer-email, .customer-phone {
				font-size: 12px;
				color: $grey;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

	.actions {
		float: right;
		button {
			border: none;
			background: none;
			color: #00A478;
			font-weight: normal;
		}
	}

	.enquiry {
		margin-bottom: 20px;
	}

	textarea {
		resize: vertical;
	}


	.box-sizing-border {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.button-group {
		text-align: center;
		button {
			display: inline-block;
			border: none;
			margin: 20px auto;
			color: #FFFFFF;
			background: #00A478;
			border-radius: 5px;
			padding: 7.5px 25px;
		}
	}

	@media (max-width: 768px){
		margin: 0px auto;
		.filter-bar {
			margin: 0;
		}

		.wrapper {
			margin: 0px 10px;
		}

		.dropdown-container{
			height: 45px;
			padding: 9px 0;
			background: #FFFFFF;
			select {
				background: transparent;
			}
		}

		.button-group {
			text-align: normal;
			button {
				display: block;
				width: 100%;
				height: 75px;
				border: none;
				margin: 5px auto;
				color: #FFFFFF;
				background: #00A478;
				border-radius: 5px;
				padding: 7.5px 25px;
			}
		}
	}
}
