[state^="bookingAdmin"] {
    background: transparent;
    .booking-admin-nav-container{
          width:280px;
          margin:0 auto;
          padding-top: 55px;
        .booking-nav{
            &.active{
              background: $dark-grey;;
              color: $white;
            }

            &:last-of-type{
              margin-right: 0;
            }
            display: inline-block;
            text-decoration: none;
            width: 137px;
            background: $white;
            font-size: 14px;
            color: $dark-grey;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            margin-bottom: 30px;
        }
    }

    .booking-admin-container{
        width:448px;
          margin:50px auto 0 auto;

        .booking-preview-button{
            float: right;
            border: none;
            margin: 20px auto;
            color: #FFFFFF;
            border-radius: 3px;
            text-decoration: none;
            padding: 10px 27px;
            width: 170px;
            height: 40px;
            background: $dark-grey;
            transition: background ease .5s;
            &:hover{
                background: $hover-dark-grey;
           
            }
        }

        .booking-admin-copy-btn{
            @extend .booking-preview-button;
            background: $green;
            padding: 10px 50px;
            transition: background ease .5s;
            &:hover{
                background: $hover-green;
           
            }
        }
        .booking-admin-save-btn{
            float: right;
            border: none;
            margin: 20px auto;
            color: #FFFFFF;
            border-radius: 3px;
            text-decoration: none;
            padding: 10px 27px;
            width: 170px;
            height: 40px;
            background: $green;
            transition: background ease .5s;
            &:hover{
                background: $hover-green;
           
            }
        }
        select{
            margin:20px 0;
            width: 100%;
        }
        p{
            &.paypal{
                margin:30px 0; 
            }
        }
        label{
            position: relative;
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 5px;
            font-family: lato-regular;
        }
        hr{
            margin-bottom: 10px;
        }
        input{
            text-align: center;
            padding: 5px 10px;
            border: 1px;
        }
        .clearfix{
            clear: both;
        }
    }
    @media (max-width: 768px){
        .booking-admin-container {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}