[state^="booking"] {
    background: url("../assets/pics/online-booking-soccer.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .current-booking-status{
        height: 65px;
        width: 100%;
        bottom: 45px;
        background: $white;
        padding: 7.5px 20px;

        div{
            height: 50px;
            width: calc(100%/5);
            float: left;
            padding: 0 10px;

            &.border-right{
                border-right: 1px solid $border-light-grey;            
            }

            h4, p{
                @extend %vertical-align; 
            }

            p{
                font-size: 14px;
            }
        }
    }

    .booking-container {
        height: calc(100vh - 110px);
        padding: 30px 60px 60px 60px;
        color: $white;
        position: relative;
        overflow-y: scroll;

        .booking-content-container{

            .no-events-message{
                width: 75%;
                margin: 100px auto 0 auto;
                text-align: center;

                h3{

                }
            }

            .form-input{
                display: inline-block;
                position: relative;
                width: 35%;
                margin-right: 2%;
                float: left;
                margin-bottom: 20px;

                select-arrows{
                    color: black;
                    font-size: 20px;
                    right: 23px;
                    bottom: 0px;

                    .fa-caret-up{
                        top: -5px;
                    }
                }

                label{
                    font-size: 16px;
                    width: 100%;
                    padding-left: 30px;
                    margin-bottom: 10px;
                }

                select{
                    color: $text-dark-grey;
                    width: 100%;
                    font-size: 14px;
                    height: 40px;
                    float: left;
                    padding-left: 30px;

                    &[disabled]{
                        opacity: 0.5;
                    }
                }
            }

            button{
                margin-top: 31px;
                font-size: 14px;
                height: 40px;
                float: right;

                &.back-button {
                    @extend %grey-button;
                    width: 20%;
                }

                &.continue-button{
                    @extend %orange-button;
                    width: 23%;
                    margin-right: 2%;
                }
            }

            .service-description{
                div{
                    overflow: hidden;
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .events-container{
                width: 100%;
                overflow: hidden;


                hr{
                    border-color: $white;
                    opacity: 0.1;
                }

                label{
                    font-size: 16px;
                    padding-left: 30px;
                    width: 100%;
                    margin-bottom: 20px;
                }

                booking-rectangle {
                    float: left;
                    width: 48%;
                    margin-right: 1%;
                    margin-left: 1%;

                    -webkit-transition: width 0.75s ease;
                    -moz-transition: width 0.75s ease;
                    -o-transition: width 0.75s ease;
                    transition: width 0.75s ease;

                    .selected-checkbox{
                        position: absolute;
                        top: 6px;
                        left: 13px;
                        height: 20px;
                        width: 20px;

                        i{
                            color: $text-grey;
                            font-size: 22px;
                            position: absolute;
                            left: -4px;
                            bottom: -4px;
                        }

                        .fa-check-circle{
                            color: $green;
                        }
                    }

                    .fa-expand{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 16px;
                    }

                    hr{
                        margin-bottom: 5px;
                    }

                    &.selected .event{
                        -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0,164,120,0.56);
                        -moz-box-shadow: inset 0px 0px 2px 2px rgba(0,164,120,0.56);
                        box-shadow: inset 0px 0px 2px 2px rgba(0,164,120,0.56);
                    }

                    &.expanded{
                        width: 98%;

                        .event-info-container{
                            width: 50%;
                            margin: 0 auto;
                            overflow: hidden;
                        }
                    }

                    &.faded{
                        display: none;
                    }

                    .event {
                        position: relative;
                        color: $text-dark-grey;
                        text-align: center;
                        display: inline-block;
                        width: 100%;
                        padding: 10px 12.5px;
                        background: $white;
                        overflow: hidden;
                        border-radius: 5px;
                        min-height: 145px;

                        .date-range{
                            font-family: lato-bold;
                        }

                        i.fa-exclamation-circle{
                            font-size: 14px;
                        }

                        .event-info-container{
                            cursor: pointer;
                        }

                        .booking-rectangle-info{
                            width: 32%;
                            margin-right: 1%;
                            float: left;
                            cursor: pointer;
                        }

                        .course-sessions-container {
                            margin-top: 20px;

                            .close-event{
                                position: absolute;
                                color: $orange;
                                cursor: pointer;
                                top: 5px;
                                right: 10px;

                                i{
                                    margin-left: 8px
                                }
                            }

                            .event-begun{
                                color: $red;
                            }
                        }
                    }

                    booking-course-sessions{
                        .session-box{
                            width: 100%;
                            text-align: center;
                            margin-top: 10px;
                            padding: 10px;
                            cursor: pointer;
                            color: $text-dark-grey;
                            border-radius: 5px;
                            position: relative;
                            overflow: hidden;
                            border: 1px solid $text-grey;
                            -webkit-box-shadow: 2px 2px 5px -2px rgba(77,77,77,0.56);
                            -moz-box-shadow: 2px 2px 5px -2px rgba(77,77,77,0.56);
                            box-shadow: 2px 2px 5px -2px rgba(77,77,77,0.56);

                            &.selected{
                                -webkit-box-shadow: inset 0px 0px 2px 2px rgba(77,77,77,0.56);
                                -moz-box-shadow: inset 0px 0px 2px 2px rgba(77,77,77,0.56);
                                box-shadow: inset 0px 0px 2px 2px rgba(77,77,77,0.56);
                            }

                            &[disabled]{
                                pointer-events: none;
                                opacity: 0.2;
                            }

                            &.course-session{
                                float: left;
                                width: 32%;

                                &:nth-child(3n){
                                    margin-right: 2%;
                                    margin-left: 2%;
                                }
                            }

                            .full-session-banner{
                                position: absolute;
                                top: 35px;
                                color: $red;
                                width: 100%;
                                border: none;
                            }

                            &.sold-out, &.is-before{
                                pointer-events: none;
                                color: rgba(163,163,163,0.2);
                                border: 1px solid rgba(163,163,163,0.2);

                                .selected-checkbox{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .booking-customer-form{
                .form-input{
                    width: 48%;
                    margin-right: 2%;
                    margin-bottom: 30px;

                    label{
                        padding: 0 0 5px 20px; 
                    }

                    input{
                        font-size: 16px;
                        height: 60px;
                        padding: 20px;
                    }

                    .error-messages {
                        div{
                            padding-left: 20px;
                        }
                        i{
                            top: -43px;
                        }
                    }
                }
            }

            .booking-details-container{
                margin: 100px 0;
                overflow: hidden;

                .booking-details{
                    width: 50%;
                    float: left;
                    padding-left: 30px;

                    h4{
                        margin-bottom: 20px;
                    }

                    p{
                        font-size: 16px;
                    }
                }

                .booking-confirmed{
                    width: 50%;
                    float: left;
                    text-align: center;

                    button{
                        width: auto;
                        margin-top: 25px;
                        float: none;
                    }
                }
            }
        }
    }

    .service-description {
    }

    .powered-by{
        width: 100%;
        height: 45px;
        background: $green;
        position: fixed;
        bottom: 0;
        color: $white;

        div{
            font-size: 14px;
            line-height: 45px;
            margin: 0 auto;
            width: 225px;

            span{
                display: inline-block;
                height: 45px;
                float: left;
            }

            .logo{
                width: 150px;
                background: url("../assets/pics/logo-white.png") center no-repeat;   
                background-size: 85%;
            }
        }
    }

    @media (max-width: 768px){
        .current-booking-status{
            height: 60px;
            padding:5px;
            border-bottom:1px solid #ccc;
            booking-date-range{
                display: none !important;
            }
            booking-price{
                div{
                    width:40%;
                    text-align: center;
                }
            }
            .border-right{
                &:nth-child(1){
                    width:60%;;
                }
                &:nth-child(2){
                    display:none !important;
                } 
                &:nth-child(3){
                    display:none !important;
                }
            }

        }

        .booking-container{
            height: calc(100vh - 105px);
            padding: 30px 17px 60px 17px;
            .booking-content-container{
                .booking-details-container{
                    .booking-details{
                        width: 100%;  
                        padding-left: 0px;
                    }

                } 
                .booking-customer-form{
                    .form-input{
                        width:100%;
                        margin-bottom: 20px;
                        &:last-child{
                            margin-bottom:45px;
                        }
                        .error-messages{
                            i{
                                top:-35px;
                            }
                            div{
                                padding-top: 3px;
                            }
                        }
                        label{
                            padding: 0 0 0px 20px;
                        }
                        input{
                            height:40px;
                            padding: 10px;
                            font-size: 12px;
                        }
                    }
                }
                .form-input{
                    width:100%;
                }
                button{
                    -webkit-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
                    box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
                    &.continue-button{
                        width: 46%;
                        padding: 7.5px 10px;
                        position: fixed;
                        right: 0px;
                        z-index: 2;
                        bottom: 60px;
                    }
                    &.back-button{
                        width: 46%;
                        padding: 7.5px 10px;
                        position: fixed;
                        z-index: 1;
                        bottom: 60px;
                        left: 10px;
                    }
                }
                .service-description{
                    div{
                        width:100%;
                    }
                }
                .events-container{
                    label{
                        display:none !important;
                    }
                    booking-rectangle{
                        width: 100%;
                        margin-right: 0%; 
                        margin-left: 0%;
                        margin-bottom:10px;
                        &.selected{
                            .event{
                                -webkit-box-shadow: inset 0px 0px 2px 2px rgba(242,120,75,0.56);
                                -moz-box-shadow: inset 0px 0px 2px 2px rgba(242,120,75,0.56);
                                box-shadow: inset 0px 0px 2px 2px rgba(242,120,75,0.56);
                            }
                        }
                        booking-course-sessions{
                            .session-box{
                                    
                                &.selected{
                                    box-shadow:none;
                                    border: 2px solid #F2784B;
                                   
                                }
                                &.course-session{
                                    width:100%;
                                    &:nth-child(3n){
                                        margin-right: 0%;
                                        margin-left: 0%;
                                    }
                                }
                            }

                        }
                        &.expanded{
                            width: 100%;
                            .event-info-container{
                                width:100%;
                                p.session-type{
                                    text-align:left;
                                }
                                .date-range{
                                    margin-right: 15px;
                                    text-align:left;
                                }
                            }

                        }
                        .event {
                            padding: 10px 20px;
                            .event-info-container{
                                  margin-left: 10px;
                            
                                .booking-rectangle-info{
                                    text-align:left;
                                    width:100%;
                                    margin-right:0;
                                    padding-bottom:15px;
                                    &:last-child{
                                        padding-bottom:0px;
                                    }
                                    .fa.fa-usd{
                                        position: relative;
                                        // top:11px;
                                        padding-right:4px;
                                    }
                                    &:nth-child(2){
                                        p{
                                            
                                        }
                                    }
                          
                                    p{
                                        display:inline-block;
                                        padding-left:20px;
                                        &:nth-child(3){
                                            display:block;
                                            padding-left:35px;
                                        }
                                     
                                    }
                                }
                            }
                        }
                    }
                }
               
            }
        }
        
    }
}
