[state^="bookingAdmin"] {
    background: transparent;
    width: 500px;
    margin: 0 auto;

    .booking-admin-nav-container{
        margin:45px auto 30px auto;
        background: $white;
        border-radius: 5px;
        overflow: hidden;

        .booking-nav{
            width: 25%;
            font-size: 14px;
            color: $dark-grey;
            padding: 5px;
            cursor: pointer;
            text-align: center;
            float: left;

            &.active{
              color: $white;
            }

            &:last-of-type{
              margin-right: 0;
            }
        }
    }

    .booking-admin-container{
        .booking-admin-onlinebooking{
            .booking-preview-button{
                float: right;
                border: none;
                margin: 20px auto;
                color: #FFFFFF;
                border-radius: 3px;
                text-decoration: none;
                padding: 10px 27px;
                width: 170px;
                height: 40px;
                background: $dark-grey;
                transition: background ease .5s;
                &:hover{
                    background: $hover-dark-grey;
                }
            }
            .booking-admin-facebook-btn{
                float: right;
                margin-top: 10px;
                width: 170px;
                height: 40px;
                background: url(#{$asset-url}/pics/facebook-share-button.png) no-repeat center;
                background-size: 100%;
            }

            .booking-admin-copy-btn{
                @extend .booking-preview-button;
                background: $green;
                padding: 10px 50px;
                transition: background ease .5s;
                &:hover{
                    background: $hover-green;
                }
            }
            .booking-admin-save-btn{
                float: right;
                border: none;
                margin: 20px auto;
                color: #FFFFFF;
                border-radius: 3px;
                text-decoration: none;
                padding: 10px 27px;
                width: 170px;
                height: 40px;
                background: $green;
                transition: background ease .5s;
                &:hover{
                    background: $hover-green;
                }
            }

            input{
                text-align: center;
            }
        }

        .booking-admin-payments, .booking-admin-pricing{

            toggle-switch{
                float: right;

                &[disabled]{
                    pointer-events: none;
                }
            }

            .toggle-switch-container{
                font-size: 16px;
                float: left;
                width: 100%;
                margin-bottom: 10px;
                line-height: 40px;
            }

            .paypal-payment{
                .edit-button, .cancel-button{
                    color: $green;
                    float: right;
                    cursor: pointer;
                }

                .merchant-identifier{
                    float: left;
                    clear: both;
                    margin-top: 10px;
                }

                .paypal-merchant-title{
                    font-size: 16px;
                    line-height: 40px;
                }

                .edit-paypal{
                    margin-top: 0px;
                    img{
                        height: 30px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }
                    .form-input{
                        input{
                            height: 40px;
                        }
                        .error-messages i{
                            top: -35px;
                            right: 95px;
                        }
                    }

                    p{
                        margin-bottom: 15px;
                    }
                }
            }
        }

        select{
            margin:20px 0;
            width: 100%;
        }

        hr{
            margin-bottom: 10px;
        }
        input{
            padding: 5px 10px;
            border: 1px;
        }
        .clearfix{
            clear: both;
        }
    }
}
@media (max-width: 768px){
    [state^="bookingAdmin"] {
        margin-top: 0px;
        .booking-admin-container {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .booking-admin-nav-container{
            width: 100%;
            border-radius: 0px;
            color:$mobile-text-grey;

            .booking-nav{
                width: calc(100%/3);
                height: 45px;
                line-height: 45px;
                padding: 0px;

                &.active {
                    background: $mobile-background-dark;
                    color:$white;
                    border-right: 0px solid $mobile-text-grey;
                }
            }
            .slider-nav-slider{
                display: none;
            }
        }
    }
}