[state^="booking"] {
    background: $dark-blue;

    .booking-with-title{
        font-size: 30px;
        padding: 30px 60px 0px 60px;
        color: white;
    }

    .fade-block{
        height: 30px;
        width: 100%;
        position: absolute;
        background: linear-gradient(rgba(255, 255, 255, 0), $dark-blue);
        bottom: 125px;
    }

    .booking-container {
        height: calc(100vh - 252px);
        padding: 30px 60px 60px 60px;
        color: $white;
        position: relative;
        overflow-y: scroll;
        &::-webkit-scrollbar { 
            display: none; 
        }

        .booking-content-container{

            .form-input{
                display: inline-block;
                width: 58%;
                margin-right: 2%;
                float: left;
                margin-bottom: 20px;

                label{
                    font-size: 16px;
                    width: 100%;
                    padding-left: 30px;
                    margin-bottom: 10px;
                }

                select{
                    color: $text-dark-grey;
                    width: 100%;
                    font-size: 18px;
                    height: 60px;
                    float: left;
                    padding-left: 30px;
                }
            }

            button{
                margin-top: 31px;
                font-size: 16px;
                height: 60px;
                float: right;

                &.back-button {
                    @extend %grey-button;
                    width: 15%;
                }

                &.continue-button{
                    @extend %orange-button;
                    width: 23%;
                    margin-right: 2%;
                }
            }

            .events-container{
                margin-top: 20px;
                width: 100%;
                overflow: hidden;

                hr{
                    margin-bottom: 20px;
                    border-color: $white;
                    opacity: 0.8;
                }
                booking-rectangle {
                    float: left;
                    width: 32%;
                    margin-right: 1%;

                    .event {
                        color: $text-dark-grey;
                        border: 3px solid transparent;
                        text-align: center;
                        display: inline-block;
                        cursor: pointer;
                        width: 100%;
                        padding: 10px 12.5px;
                        background: $white;
                        overflow: hidden;
                        border-radius: 5px;

                        .spaces-available, .session-type{
                            font-family: lato-bold;
                        }

                        &.selected {
                            border: 3px solid $orange;
                            color: $orange;
                        }

                        &.faded{
                            opacity: 0.5;
                        }
                    }

                    booking-course-sessions{
                        div{
                            width: 100%;
                            text-align: center;
                            margin-top: 10px;
                            padding: 10px;
                            background: $background-grey;
                            cursor: pointer;
                            color: $white;
                            border-radius: 5px;

                            &.selected{
                                background: $green;
                            }
                        }
                    }
                }
            }

            .booking-customer-form{
                .form-input{
                    width: 48%;
                    margin-right: 2%;
                    margin-bottom: 30px;

                    label{
                        padding: 0 0 5px 20px; 
                    }

                    input{
                        font-size: 16px;
                        height: 60px;
                        padding: 20px;
                    }

                    .error-messages {
                        div{
                            padding-left: 20px;
                        }
                        i{
                            top: -43px;
                        }
                    }
                }
            }

            .booking-details-container{
                margin: 100px 0;
                overflow: hidden;

                .booking-details{
                    width: 50%;
                    float: left;
                    padding-left: 30px;

                    h4{
                        margin-bottom: 20px;
                    }

                    p{
                        font-size: 16px;
                    }
                }

                .booking-confirmed{
                    width: 50%;
                    float: left;
                    text-align: center;

                    button{
                        width: auto;
                        margin-top: 25px;
                        float: none;
                    }
                }
            }
        }
    }

    .service-description {
    }

    .current-booking-status{
        position: fixed;
        height: 80px;
        width: 100%;
        bottom: 45px;
        background: $white;
        padding: 15px 20px;

        div{
            height: 50px;
            width: calc(100%/5);
            float: left;
            padding: 0 10px;

            &.border-right{
                border-right: 1px solid $border-light-grey;            
            }

            h4, p{
                @extend %vertical-align; 
            }

            h4{
                font-size: 20px;
            }

            p{
                font-size: 14px;
            }
        }
    }

    .powered-by{
        width: 100%;
        height: 45px;
        background: $green;
        position: fixed;
        bottom: 0;
    }

    @media (max-width: 768px){

    }
}
