[state^="booking"] {
    background: url("../assets/pics/online-booking-soccer.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .booking-with-title{
        font-size: 30px;
        padding: 30px 60px 0px 60px;
        color: white;
        text-transform: uppercase;
    }

    .fade-block{
        height: 30px;
        width: 100%;
        position: absolute;
        background: linear-gradient(transparent, black);
        bottom: 125px;
    }

    .booking-container {
        height: calc(100vh - 197px);
        padding: 30px 60px 60px 60px;
        color: $white;
        position: relative;
        overflow-y: scroll;
        &::-webkit-scrollbar { 
            display: none; 
        }

        .booking-content-container{

            .no-events-message{
                width: 75%;
                margin: 100px auto 0 auto;
                text-align: center;

                h3{

                }
            }

            .form-input{
                display: inline-block;
                position: relative;
                width: 58%;
                margin-right: 2%;
                float: left;
                margin-bottom: 20px;

                select-arrows{
                    color: black;
                    font-size: 20px;
                    right: 30px;
                    bottom: 10px;

                    .fa-caret-up{
                        top: -5px;
                    }
                }

                label{
                    font-size: 16px;
                    width: 100%;
                    padding-left: 30px;
                    margin-bottom: 10px;
                }

                select{
                    color: $text-dark-grey;
                    width: 100%;
                    font-size: 18px;
                    height: 60px;
                    float: left;
                    padding-left: 30px;
                }
            }

            button{
                margin-top: 31px;
                font-size: 16px;
                height: 60px;
                float: right;

                &.back-button {
                    @extend %grey-button;
                    width: 15%;
                }

                &.continue-button{
                    @extend %orange-button;
                    width: 23%;
                    margin-right: 2%;
                }
            }

            .events-container{
                margin-top: 20px;
                width: 100%;
                overflow: hidden;

                hr{
                    margin-bottom: 20px;
                    border-color: $white;
                    opacity: 0.8;
                }

                booking-rectangle {
                    float: left;
                    width: 48%;
                    margin-right: 1%;
                    margin-left: 1%;

                    hr{
                        margin-bottom: 5px;
                    }

                    &.selected{
                        width: 98%;

                        .event{
                            border: 3px solid $orange;
                        }

                        .event-info-container{
                            width: 50%;
                            margin: 0 auto;
                            overflow: hidden;
                        }
                    }

                    &.faded{
                        display: none;
                    }

                    .event {
                        position: relative;
                        color: $text-dark-grey;
                        text-align: center;
                        display: inline-block;
                        border: 3px solid transparent;
                        width: 100%;
                        padding: 10px 12.5px;
                        background: $white;
                        overflow: hidden;
                        border-radius: 5px;

                        .date-range{
                            font-family: lato-bold;
                        }

                        i{
                            font-size: 14px;
                        }

                        .event-info-container{
                            cursor: pointer;
                        }

                        .booking-rectangle-info{
                            width: 32%;
                            margin-right: 1%;
                            float: left;
                            cursor: pointer;

                        }

                        .course-sessions-container {
                            margin-top: 20px;

                            .close-event{
                                position: absolute;
                                color: $orange;
                                cursor: pointer;
                                top: 5px;
                                right: 10px;

                                i{
                                    margin-left: 8px
                                }
                            }

                            .event-begun{
                                color: $red;
                            }
                        }
                    }

                    booking-course-sessions{
                        div{
                            width: 100%;
                            text-align: center;
                            margin-top: 10px;
                            padding: 10px;
                            cursor: pointer;
                            color: $text-dark-grey;
                            border-radius: 5px;
                            position: relative;
                            overflow: hidden;
                            border: 1px solid $text-dark-grey;


                            &.selected{
                                color: $orange;
                                border: 1px solid $orange;
                            }
                            &[disabled]{
                                pointer-events: none;
                                opacity: 0.2;
                            }

                            &.course-session{
                                float: left;
                                width: 32%;

                                &:nth-child(3n){
                                    margin-right: 2%;
                                    margin-left: 2%;
                                }
                            }

                            .full-session-banner{
                                position: absolute;
                                color: $red;
                                left: 0;
                                border: none;
                            }

                            &.sold-out, &.is-before{
                                pointer-events: none;
                                color: rgba(163,163,163,0.2);
                                border: 1px solid rgba(163,163,163,0.2);
                            }
                        }
                    }
                }
            }

            .booking-customer-form{
                .form-input{
                    width: 48%;
                    margin-right: 2%;
                    margin-bottom: 30px;

                    label{
                        padding: 0 0 5px 20px; 
                    }

                    input{
                        font-size: 16px;
                        height: 60px;
                        padding: 20px;
                    }

                    .error-messages {
                        div{
                            padding-left: 20px;
                        }
                        i{
                            top: -43px;
                        }
                    }
                }
            }

            .booking-details-container{
                margin: 100px 0;
                overflow: hidden;

                .booking-details{
                    width: 50%;
                    float: left;
                    padding-left: 30px;

                    h4{
                        margin-bottom: 20px;
                    }

                    p{
                        font-size: 16px;
                    }
                }

                .booking-confirmed{
                    width: 50%;
                    float: left;
                    text-align: center;

                    button{
                        width: auto;
                        margin-top: 25px;
                        float: none;
                    }
                }
            }
        }
    }

    .service-description {
    }

    .current-booking-status{
        position: fixed;
        height: 80px;
        width: 100%;
        bottom: 45px;
        background: $white;
        padding: 15px 20px;

        div{
            height: 50px;
            width: calc(100%/5);
            float: left;
            padding: 0 10px;

            &.border-right{
                border-right: 1px solid $border-light-grey;            
            }

            h4, p{
                @extend %vertical-align; 
            }

            h4{
                font-size: 20px;
            }

            p{
                font-size: 14px;
            }
        }
    }

    .powered-by{
        width: 100%;
        height: 45px;
        background: $green;
        position: fixed;
        bottom: 0;
        color: $white;

        div{
            font-size: 14px;
            line-height: 45px;
            margin: 0 auto;
            width: 225px;

            span{
                display: inline-block;
                height: 45px;
                float: left;
            }

            .logo{
                width: 150px;
                background: url("../assets/pics/logo-white.png") center no-repeat;   
                background-size: 85%;
            }
        }
    }

    @media (max-width: 768px){

    }
}
