[state^="booking"] {
	margin: 0 auto;
	width: 90%;
	.page-header {
		border-bottom: 1px solid #ccc;
		ul {
			li {
				display: inline-block;
				font-size: 0;
				margin-right: -4px;
				a {
					font-size: 16px;
					display: block;
					width: 200px;
					text-align: center;
					padding: 10px 20px;
					text-decoration: none;
					color: #525252;
					background-color: #fff;
					&.active {
						background-color: #525252;
						color: #fff;
					}
				}
			}
		}
	}
	.content-container {
		.content {
			.actions {
				position: fixed;
				bottom: 0;
				right: 100px;
				.back-link {
					font-decoration: none;
					color: #00A478;
					margin-right: 20px;
				}

				.btn-save {
					border: none;
					margin: 20px auto;
					text-align: center;
					width: 200px;
					color: #FFFFFF;
					background: #00A478;
					border-radius: 4px;
					padding: 10px 25px;

					&[disabled] {
						opacity: 50px;
					}
				}
			}

			.form-error {
				color: #E88801;
			}

			.ng-invalid {
				border-color: #E88801;
			}

			.right-border {
				border-right: 1px solid #ccc;
			}
		}
	}

	.service-description {
		margin-top: 30px;
	}

	.block {
		display: block;
	}

	.bold {
		font-weight: bold;
	}

	.container-center {
		max-width: 450px;
		margin: 0 auto;
	}

	.session {
		text-align: center;
		display: inline-block;
		cursor: pointer;
		width: 45%;
		margin: 10px;
		padding: 10px 12.5px;
		background: $white;
		overflow: hidden;
		border-radius: 5px;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
		border: 1px solid transparent;
		&.selected {
			border: 1px solid $green;
		}
		&.full-course {
			width: 100% !important;
		}
	}

	.course {
		border: 1px solid transparent;
		&.course-details {
			text-align: center;
			display: inline-block;
			cursor: pointer;
			width: 45%;
			margin: 10px;
			padding: 10px 12.5px;
			background: $white;
			overflow: hidden;
			border-radius: 5px;
			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
		}

		&.selected {
			border: 1px solid $green;
		}

		.name {
			text-transform: uppercase;
		}
	}

	.customer-recap {
		overflow: auto;
		width: 100%;
	}

	.enquiry {
		margin-bottom: 20px;
	}

	textarea {
		resize: vertical;
	}


	.box-sizing-border {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.button-group {
		text-align: center;
		button {
			display: inline-block;
			border: none;
			margin: 20px auto;
			color: #FFFFFF;
			background: #00A478;
			border-radius: 5px;
			padding: 7.5px 25px;
		}
	}

	.full-width {
		width: 100%;
		float: none;
	}

	.separator {
		margin: 15px 0;
	}

	.bottom-margin {
		margin-bottom: 20px;
	}

	.primary-text {
		font-family: lato-bold;
		font-size: 14px;
		color: $text-dark-grey;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.secondary-text {
		font-size: 12px;
		color: $grey;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	@media (max-width: 768px){
		margin: 0px auto;
		.filter-bar {
			margin: 0;
		}

		.wrapper {
			margin: 0px 10px;
		}

		.dropdown-container{
			height: 45px;
			padding: 9px 0;
			background: #FFFFFF;
			select {
				background: transparent;
			}
		}

		.button-group {
			text-align: normal;
			button {
				display: block;
				width: 100%;
				height: 75px;
				border: none;
				margin: 5px auto;
				color: #FFFFFF;
				background: #00A478;
				border-radius: 5px;
				padding: 7.5px 25px;
			}
		}
	}
}
