<div class="time-picker">
    <div class="increase"> 
        <div class="hours" ng-click="increaseHours()">
            <span class="glyphicon glyphicon-chevron-up"></span> 
        </div>
        <div class="minutes" ng-click="increaseMinutes()"> 
            <span class="glyphicon glyphicon-chevron-up"></span> 
        </div>
    </div> 
    <div class="display"> {{time}} </div>
    <div class="decrease">
        <div class="hours" ng-click="decreaseHours()">
            <span class="glyphicon glyphicon-chevron-down"></span> 
        </div> 
        <div class="minutes" ng-click="decreaseMinutes()"> 
            <span class="glyphicon glyphicon-chevron-down"></span> 
        </div> 
    </div>
</div>