<div ng-repeat="weekday in weekdays" class="workingHours-weekday">
	<p ng-i18next>workingHours:weekdays.{{weekday}}</p>
	<toggle-switch 
		ng-model="coach.workingHours[weekday].isAvailable"
		on-label="yes"
	    off-label="no"
	></toggle-switch>
	<timepicker
		ng-model='coach.workingHours[weekday].startTime'
		ng-disabled='!coach.workingHours[weekday].isAvailable'
		class="workingHours-timepicker"
	></timepicker>
	to
	<timepicker
		ng-model='coach.workingHours[weekday].finishTime'
		ng-disabled='!coach.workingHours[weekday].isAvailable'
		class="workingHours-timepicker"
	></timepicker>
</div>