<div ng-repeat="weekday in weekdays" class="workingHours-weekday">
	<p ng-i18next>workingHours:weekdays.{{weekday}}</p>
	<toggle-switch 
		ng-model="coach.workingHours[weekday].isAvailable"
		on-label="yes"
	    off-label="no"
	></toggle-switch>
	<time-picker 
		time="coach.workingHours[weekday].startTime"
		ng-disabled='!coach.workingHours[weekday].isAvailable'
	></time-picker>
	to
	<time-picker 
		time="coach.workingHours[weekday].finishTime"
		ng-disabled='!coach.workingHours[weekday].isAvailable'
	></time-picker>
</div>