<div class="current-booking-status">
    <div class="border-right"><p>{{'booking:current-booking' | i18next}}  {{business.name}}<p></div>
    <div class="border-right"><p>{{currentBooking.filters.location.name}}</p></div>
    <div class="border-right"><p>{{currentBooking.filters.service.name}}</p></div>
    <booking-date-range></booking-date-range>
    <booking-price></booking-price>
</div>
<div class="booking-container">  
    <div ui-view="booking-view" class="booking-content-container"></div>
</div>
<a class="powered-by" href="http://www.coachseek.com/" target="_blank">
    <div><span>{{'booking:powered-by' | i18next}}</span><span class="logo"></span></div>
</a>