<div class="booking-with-title">{{'booking:booking-with' | i18next}} {{businessDomain}}</div>
<div class="booking-container">  
    <div ui-view="booking-view" class="booking-content-container"></div>
</div>
<div class="fade-block bottom"></div>
<div class="current-booking-status">
	<div><h4>{{'booking:current-booking' | i18next}}</h4></div>
	<div class="border-right"><p>{{filters.location.name}}</p></div>
	<div class="border-right"><p>{{filters.service.name}}</p></div>
	<div class="border-right"><p>{{calculateBookingDateRange()}}</p></div>
	<div><h4>{{'denomination' | i18next}}{{calculateTotalPrice()}}</h4></div>
</div>
<div class="powered-by"></div>
