<div class="booking-note-container" ng-init="tempName = note.name">
    <div class="note-name" ng-disabled="!note.isActive">
        <div ng-hide="editName" ng-click="editName = true" class="display-name-container">
            <i class="fa fa-lg fa-pencil" ng-hide="loading"></i>
            <ellipsis-animated ng-show="loading"></ellipsis-animated>
            <span class='display-name' ng-hide="editName">{{note.name}}</span>
        </div>
        <div ng-show="editName" class="edit-name-container">
            <form name="noteNameForm" novalidate ng-enter="saveName()" ng-esc="cancelEdit()">
                <i class="fa fa-lg fa-save" ng-click="saveName()"></i>
                <input name="noteName" ng-model="tempName" ng-blur="saveName()" placeholder="{{'booking:booking-admin.note-name-placeholder' | i18next}}" ng-maxlength="100" required/>

                <div class="error-messages" ng-messages="noteNameForm.noteName.$error" ng-if="noteNameForm.noteName.$touched">
                    <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                    <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                </div>
            </form>
        </div>
    </div>
    <label class="is-required" ng-disabled="!note.isActive">
        <input type="checkbox" ng-model="note.isRequired">
    </label>
    <toggle-switch class="is-active" ng-class="{'grey-background':!note.isActive}"
        property="note.isActive"
        positive="'yes'"
        negative="'no'"
    ></toggle-switch>
</div>