<div class="crud-item container-center">
  <h2>{{'booking:confirmation.title' | i18next}}</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 border-right">
      <div class="location">
        <label class="block bold">{{'booking:confirmation.location' | i18next}}</label>
        <p>
          {{booking.sessions[0].location.name}}
        </p>
      </div>
      <div class="sessions">
        <label class="block bold">{{'booking:confirmation.session' | i18next}}</label>
        <div ng-repeat="session in booking.sessions">
          <p>{{session.service.name}}</p>
          <p>{{session.timing.date}}</p>
          <p>{{session.timing.hour.start}} - {{session.timing.hour.end}}</p>
        </div>
      </div>
      <div class="price">
        <label class="block bold">{{'booking:confirmation.price' | i18next}}</label>
        <p>
          {{booking.sessions[0].pricing.sessionPrice}}
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="customer-recap">
        <div class="customer-details">
          <div class="customer-name primary-text">
            <span>{{booking.customer.firstName}} {{booking.customer.lastName}}</span>
          </div>
          <div class="customer-email secondary-text">
            <span>{{booking.customer.email}}</span>
          </div>
          <div class="customer-phone secondary-text">
            <span>{{booking.customer.phone}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="save-button" ng-click="confirmBooking(booking)" ng-disabled="AILoading"><span ng-i18next>{{'booking:confirmation.finish'}}</span><ellipsis-animated ng-show="AILoading"/></button>
  <button class="cancel-button" ng-click="cancel()">{{'booking:common.back' | i18next}}</button>
</div>
