<div class="wrapper crud-item">
  <h1>{{'booking:session.title' | i18next}}</h1>
  <p>
    {{course.name}}
  </p>
  <p>
    {{course.location}}
  </p>
  <div class="">
    <label for="checkAll">
      <input type="checkbox" name="all" id="checkAll" value="0">
      {{'booking:session.select-all' | i18next}}
    </label>
  </div>
  <ul class="session-list">
    <li ng-repeat="session in course.sessions" class="session session-details">
      <div class="session-checkbox">
        <input type="checkbox" ng-model="session.selected" name="session-{{session._id}}">
      </div>
      <div class="session-more">
        <div class="session-date">
          {{session.timing.startDate}} {{session.timing.startTime}}
        </div>
        <div>
          <span class="session-duration">{{session.timing.duration}} {{'booking:duration' | i18next}}</span>
          <span class="session-price">{{session.pricing.sessionPrice}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
