<div class="booking-admin-container">    
    <div class="booking-admin-onlinebooking">
        <label>{{'booking:booking-admin.address' | i18next}}</label>
        <input type="text" ng-readonly="true" value="{{currentUser.business.domain}}.coachseek.com">
        <a  class="booking-preview-button"
            ng-href="https://{{currentUser.business.domain}}.coachseek.com"
            target="_blank">
            {{'booking:preview-button' | i18next}}
        </a>
        <label class="clearfix">{{'booking:booking-admin.code' | i18next}}</label>
        <input    ng-readonly="true" ng-model="buttonHTML"/>
        <button class="booking-admin-copy-btn clearfix" clip-copy="buttonHTML" clip-click="copied = true" ng-i18next>{{copied ? 'booking:booking-admin.copied' : 'booking:booking-admin.code-btn'}}</button>
    </div>  
</div>
