<div class="wrapper crud-item">
  <form ng-enter="filterSessions(filters)" method="post" class="enquiry" ng-hide="courses" novalidate>
      <div class="form-input section">
        <label for="location">{{'booking:all-locations' | i18next}}</label>
        <select name="location" ng-model="filters.location" id="location" class="full-width" required="">
            <option value="">{{'booking:select.empty-option' | i18next}}</option>
            <option ng-repeat="location in locations" value="{{location.id}}" ng-selected="filters.location === location.id">{{location.name}}</option>
        </select>
        <div ng-show="form.$submitted || form.location.$touched">
          <span ng-show="form.location.$error.required">{{'booking:filter.location-error' | i18next}}</span>
        </div>
      </div>

      <div class="form-input section" ng-show="filters.location">
        <label for="service">{{'booking:all-services' | i18next}}</label>
        <select name="service" ng-model="filters.service" id="service" class="full-width" required="">
            <option value="">{{'booking:select.empty-option' | i18next}}</option>
            <option ng-repeat="service in services" value="{{service.id}}" ng-selected="filters.service === service.id">{{service.name}}</option>
        </select>
        <div ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.service.$error.required">{{'booking:filter.service-error' | i18next}}</span>
        </div>
      </div>
      <div class="section" ng-show="filters.location && filters.service">
        <button type="submit" class="save-button full-width" ng-click="filterSessions(filters)"><span>{{'booking:search' | i18next}}</span></button>
      </div>

  </form>

  <!-- Filters -->
  <div class="filter-bar" ng-show="courses">
    <div class="dropdown-container service-list">
      <select ng-change="filterSessions(filters)" name="service" ng-model="filters.service">
        <option ng-repeat="service in services" value="{{service.id}}" ng-selected="filters.service === service.id">
          {{service.name}}
        </option>
      </select>
      <i class="fa fa-chevron-down"></i>
    </div>
    <div class="dropdown-container location-list">
      <select ng-change="filterSessions(filters)" name="location" ng-model="filters.location">
        <option ng-repeat="location in locations" value="{{location.id}}" ng-selected="filters.location === location.id">
          {{location.name}}
        </option>
      </select>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <!-- List of Courses-->
  <ul class="course-list" ng-show="courses">
    <li ng-repeat="course in courses" ng-click="selectCourse(course)" class="course course-details">
      <div class="course-color">
        <span class="colour-circle {{course.color}}"></span>
      </div>
      <div class="course-more">
        <div class="course-service">
          <span class="course-service">{{course.name}}</span>
        </div>
        <div>
          <span class="course-location">{{course.location}}</span>
          <span class="course-duration">{{course.duration}} {{'booking:duration' | i18next}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
