<div class="booking-admin-nav-container slider-nav" ng-init="activeTab = 'onlineBooking'">
    <div class="booking-nav slider-nav-option online-booking" ng-click="activeTab = 'onlineBooking'" ng-class="{'active':activeTab==='onlineBooking'}">{{'booking:booking-admin.onlinebooking' | i18next}}</div>
    <div class="booking-nav slider-nav-option payments" ng-click="activeTab = 'payments'" ng-class="{'active':activeTab==='payments'}">{{'booking:booking-admin.payments' | i18next}}</div>
</div>
<div class="booking-admin-container" ng-switch="activeTab">    
    <hr class="double-wide">
    <div class="booking-admin-onlinebooking" ng-switch-when="onlineBooking">
        <label>{{'booking:booking-admin.address' | i18next}}</label>
        <input type="text" ng-readonly="true" class="booking-url" value="{{business.domain + (ENV.name === 'dev' ? '.testing' : '')}}.coachseek.com">
        <a  class="booking-preview-button"
            ng-href="https://{{business.domain + (ENV.name === 'dev' ? '.testing' : '')}}.coachseek.com"
            target="_blank">
            {{'booking:preview-button' | i18next}}
        </a>
        <label class="clearfix">{{'booking:booking-admin.code' | i18next}}</label>
        <input ng-readonly="true" ng-model="buttonHTML" class="booking-button-html"/>
        <button class="booking-admin-copy-btn clearfix" clip-copy="buttonHTML" clip-click="copied = true" ng-i18next>{{copied ? 'booking:booking-admin.copied' : 'booking:booking-admin.code-btn'}}</button>

        <label class="clearfix">{{'booking:booking-admin.facebook' | i18next}}</label>
        <a class="booking-admin-facebook-btn clearfix" href="" ng-click="shareToFacebook()" ></a>
    </div>
    <div class="booking-admin-payments" ng-switch-when="payments">
        <div class="toggle-switch-container enable-payment">
            {{'booking:toggle-online-payment' | i18next}}
            <toggle-switch ng-disabled="AILoading"
                property="business.payment.isOnlinePaymentEnabled"
                positive="'yes'"
                negative="'no'"
            ></toggle-switch>
        </div>
        <div class="force-payment-merchant-form-container" ng-show="business.payment.isOnlinePaymentEnabled">
            <div class="toggle-switch-container force-payment">
                {{'booking:force-payment' | i18next}}
                <toggle-switch ng-disabled="AILoading"
                    property="business.payment.forceOnlinePayment" 
                    positive="'yes'"
                    negative="'no'"
                ></toggle-switch>
            </div>
            <hr class="double-wide">
            <div class="paypal-payment crud-item">
                <form class="edit-paypal" name="form" novalidate>
                    <p>{{'booking:booking-admin.activate' | i18next}}</p>
                    <div class="form-input">
                        <input type="email" name="email" ng-model="business.payment.merchantAccountIdentifier" placeholder="{{'booking:booking-admin.email' | i18next}}" ng-maxlength="100" required/>

                        <div class="error-messages" ng-messages="form.email.$error" ng-if="form.email.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                            <div ng-message="email">{{'businessSetup:error.email' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                        </div>
                    </div>
                    <button class="save-button" ng-click="save()" ng-disabled="AILoading || !form.$valid"><span class="save-text" ng-i18next="{{getSaveButtonState()}}"></span><ellipsis-animated ng-show="AILoading"/></button>
                    <button class="cancel-button" ng-show="!saved" ng-if="!AILoading" ng-click="cancelEdit()">{{'cancel' | i18next}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
