<div class="session-wrapper" ng-show="step === 'select'">
  <my-session-type-selection></my-session-type-selection>
</div>

<div class="session-wrapper" ng-show="step === 'booking'">
  <my-session-selection></my-session-selection>
</div>

<div class="session-wrapper" ng-show="step === 'enquiry'">
  <my-enquiry></my-enquiry>
</div>

<div class="customer-wrapper" ng-show="step === 'register'">
  <my-customer-registration></my-customer-registration>
</div>

<div class="confirmation-wrapper" ng-show="step === 'confirm'">
  <my-booking-confirmation></my-booking-confirmation>
</div>
