<form name="form" class="booking-customer-form crud-item">
    <div class="form-input">
        <label name="firstName">{{'booking:details.first-name' | i18next}}</label>
        <input name="firstName" ng-model="currentBooking.customer.firstName" placeholder="{{'booking:details.first-name-placeholder' | i18next}}"    required ng-maxlength="50" />

        <div class="error-messages" ng-messages="form.firstName.$error" ng-if="form.firstName.$touched">
            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}}<i class='fa fa-2x fa-times'></i></div>
        </div>
    </div>
    <div class="form-input">
        <label name="lastName">{{'booking:details.last-name' | i18next}}</label>
        <input name="lastName" ng-model="currentBooking.customer.lastName" required ng-maxlength="50" />

        <div class="error-messages" ng-messages="form.lastName.$error" ng-if="form.lastName.$touched">
            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="duplicatename"><i class='fa fa-2x fa-times'></i></div>
        </div>
    </div>
    <div class="form-input">
        <label name="email">{{'booking:details.email' | i18next}}</label>
        <input type="email" name="email" ng-model="currentBooking.customer.email" placeholder="{{'booking:details.email-placeholder' | i18next}}" ng-maxlength="100" required/>

        <div class="error-messages" ng-messages="form.email.$error" ng-if="form.email.$touched">
            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="email">{{'businessSetup:error.email' | i18next}}<i class='fa fa-2x fa-times'></i></div>
        </div>
    </div>
    <div class="form-input">
        <label name="phone">{{'booking:details.phone' | i18next}}</label>
        <input name="phone" ng-model="currentBooking.customer.phone" placeholder="{{'booking:details.phone-placeholder' | i18next}}" ng-maxlength="50" required/>

        <div class="error-messages" ng-messages="form.phone.$error" ng-if="form.phone.$touched">
            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
        </div>
    </div>
</form>
<button class="back-button" ui-sref="booking.selection">{{'booking:common.back' | i18next}}</button>
<button class="continue-button" ng-disabled="form.$invalid" ui-sref="booking.confirmation">{{'booking:common.next' | i18next}}</button>
