<div class="crud-item content-container">
  <div class="content container">
    <h1>{{'booking:details.title' | i18next}}</h1>
    <form name="form">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-input">
            <label name="firstName">{{'person-details.first-name' | i18next}}</label>
            <input name="firstName" ng-model="booking.customer.firstName" placeholder="{{'person-details.placeholder.first-name' | i18next}}"  required ng-maxlength="50" />

            <div class="error-messages" ng-messages="form.firstName.$error">
              <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
              <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
              <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-input">
            <label name="lastName">{{'person-details.last-name' | i18next}}</label>
            <input name="lastName" ng-model="booking.customer.lastName" placeholder="{{'person-details.placeholder.last-name' | i18next}}"  required ng-maxlength="50" />

            <div class="error-messages" ng-messages="form.lastName.$error">
              <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
              <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
              <div ng-message="duplicatename"><i class='fa fa-2x fa-times'></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-input">
            <label name="email">{{'person-details.email' | i18next}}</label>
            <input type="email" name="email" ng-model="booking.customer.email" placeholder="{{'person-details.placeholder.email' | i18next}}" ng-maxlength="100" />

            <div class="error-messages" ng-messages="form.email.$error">
              <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
              <div ng-message="email">{{'businessSetup:error.email' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-input">
            <label name="phone">{{'person-details.phone' | i18next}}</label>
            <input name="phone" ng-model="booking.customer.phone" placeholder="{{'person-details.placeholder.phone' | i18next}}" ng-maxlength="50" />

            <div class="error-messages" ng-messages="form.phone.$error">
              <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-input">
            <div class="remember-me">
              <label>
                <input type="checkbox" name="remember-me" ng-model="booking.customer.remember"/> {{'person-details.remember' | i18next}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="actions col-xs-12 col-sm-5">
          <a class="back-link" ui-sref="booking.services">{{'booking:common.back' | i18next}}</a>
          <button class="btn-save btn-large" ui-sref="booking.confirmation" ng-disabled="form.$invalid"><span ng-i18next>{{AILoading ? 'saving' : 'save-details'}}</span></button>
        </div>
      </div>
    </form>
  </div>
</div>
