<div class="booking-details-container">
    <div class="booking-details" ng-hide="bookingConfirmed">
        <p>{{'booking:confirmation.order' | i18next}}</p><br>
        <h4>{{'booking:confirmation.who' | i18next}}</h4>
        <p>{{currentBooking.customer.firstName}}&nbsp;{{currentBooking.customer.lastName}}</p><br>
        <h4>{{'booking:confirmation.what' | i18next}}</h4>
        <p>{{currentBooking.filters.service.name}}</p><br>
        <h4>{{'booking:confirmation.where' | i18next}}</h4>
        <p>{{currentBooking.filters.location.name}}</p><br>
        <h4>{{'booking:confirmation.when' | i18next}}</h4>
        <p>{{currentBooking.dateRange || calculateBookingDateRange()}}</p><br>
        <em><h4>{{'booking:confirmation.total' | i18next}}</h4>
        <p><span ng-i18next="denominations.{{business.payment.currency}}"></span>{{currentBooking.totalPrice || calculateTotalPrice()}}</p></em>
    </div>
    <div ng-show="bookingConfirmed" class="booking-confirmed">
        <img src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-thumbs-up.png" alt="">
    </div>
    <div ng-show="bookingConfirmed" class="booking-confirmed">
        <h4>{{currentBooking.customer.firstName}}{{'booking:confirmation.booking-for' | i18next}}&nbsp;<span>{{currentBooking.filters.service.name}}</span>&nbsp;{{'booking:confirmation.booking-at' | i18next}}&nbsp;<span>{{currentBooking.filters.location.name}}</span>&nbsp;{{'booking:confirmation.booking-confirmed' | i18next}}&nbsp;<span>{{currentBooking.dateRange || calculateBookingDateRange()}}</span></h4>
    </div>
    <div ng-show="bookingConfirmed" class="booking-confirmed">
        <span ng-switch="business.id">
            <p ng-switch-default ng-i18next="booking:confirmation.{{paidWithPaypal ? 'paypal-paid' : 'pay-later'}}"></p>
            <span ng-switch-when="6ed632c5-5ea1-49b5-8702-4ae072f22e0c">
                <p class="m-sports">{{'booking:msports.cash-or-check' | i18next}}</p>
                <p class="m-sports">{{'booking:msports.internet-banking' | i18next}}</p>
                <p class="m-sports indent">{{'booking:msports.north-shore-schools' | i18next}}</p>
                <p class="m-sports indent">{{'booking:msports.auckland-schools' | i18next}}</p>
                <p class="m-sports indent"><em>{{'booking:msports.reference' | i18next}}</em></p>
                <br/>
                <p class="m-sports">{{'booking:msports.issues' | i18next}}</p>
            </span>
        </span>
        <button class="continue-button new-booking" ng-click="resetBookings()">{{'booking:confirmation.reset-bookings' | i18next}}</button>
    </div>
    <a ng-if="business.id === '42f7fa52-2c36-4cb0-8877-bbe0ed423dca'" class="terms-link" href="https://az789256.vo.msecnd.net/assets/terms/aqua-sport-ts.pdf" target="_blank">{{business.name}}&nbsp;{{'booking:terms-and-conditions' | i18next}}</a>
    <div class="button-container" ng-hide="processingBooking || redirectingToPaypal || bookingConfirmed">
        <paypal-payment-button ng-show="business.payment.isOnlinePaymentEnabled"></paypal-payment-button>
        <span ng-switch="business.id">
            <button ng-switch-default class="pay-later" ng-class="{'pay-later-only': !business.payment.isOnlinePaymentEnabled}" ng-show="!business.payment.isOnlinePaymentEnabled || !business.payment.forceOnlinePayment" ng-click="processBooking(true)">{{'booking:confirmation.confirm-pay-later' | i18next}}</button>
            <button ng-switch-when="6ed632c5-5ea1-49b5-8702-4ae072f22e0c" class="pay-later orange" ng-show="!business.payment.isOnlinePaymentEnabled || !business.payment.forceOnlinePayment" ng-click="processBooking(true)">{{'booking:confirmation.further-payment-options' | i18next}}</button>
        </span>
        <button class="back-button" ui-sref="booking.details">{{'booking:confirmation.change-booking' | i18next}}</button>
    </div>
    <div class="loading-messages" ng-show="processingBooking || redirectingToPaypal">
        <loading-animation></loading-animation>
        <h4 class="processing" ng-hide="redirectingToPaypal">{{'booking:confirmation.processing-booking' | i18next}}</h4>
        <h4 class="to-paypal" ng-show="redirectingToPaypal">{{'booking:confirmation.paypal-redirect' | i18next}}</h4>
    </div>
</div>