<div class="full-course session-box" ng-click="toggleEntireCourse()" ng-disabled="availableSessions.length === 0" ng-class="{'selected': booking.course && booking.course.id === event.id}">
    <div class="selected-checkbox"><i ng-class="currentBooking.booking.course.id === event.id ? 'fa-check-circle' : 'fa-circle-o' " class="fa"></i></div>
    <span ng-i18next="[html]booking:{{isBefore(event) ? 'rest-of-course' : 'full-course'}}"></span> <span ng-i18next="denominations.{{business.currency}}"></span>{{fullCoursePrice}}
</div>
<div class="course-session session-box" ng-init="availableSessionSpaces = getSessionSpacesAvailable(session); isBefore=isBefore(session)"  ng-repeat="session in selectedEvent.sessions" ng-click="toggleSessionSelect(session)" ng-class="{selected: isSelected(session), 'is-before': isBefore, 'sold-out': availableSessionSpaces <= 0}">
    <div class="selected-checkbox"><i ng-class="isSelected(session) ? 'fa-check-circle' : 'fa-circle-o' " class="fa"></i></i></div>
    <div class="full-session-banner" ng-show="availableSessionSpaces <= 0">{{'booking:full-session' | i18next}}</div>
    <p>{{getSessionDate(session)}}</p>
    <p>{{getEventTimeRange(session)}}</p>
    <p ng-if="event.pricing.sessionPrice >=0"><span ng-i18next="denominations.{{business.currency}}"></span>{{session.pricing.sessionPrice}} {{'booking:per-session' | i18next}}</p>
    <p ng-i18next="[i18next]({count:availableSessionSpaces})booking:spaces-available" class="spaces-available"></p>
</div>