<div ng-click="toggleEventSelect()" class="event">
    <div class="selected-checkbox" ng-hide="event.sessions && event.pricing.sessionPrice >= 0"><i ng-class="selectedEvent && selectedEvent.id === event.id ? 'fa-check-circle' : 'fa-circle-o' " class="fa"></i></div>
    <i ng-show="isBigScreen" class="expand fa fa-expand" ng-if="event.sessions && event.pricing.sessionPrice >= 0 && selectedEvent.id !== event.id"></i>
    <div class="event-info-container">
        <p class="date-range">{{getEventDateRange()}}</p>
        <p class="session-type" ng-if="event.sessions" ng-i18next="[i18next]({count:event.repetition.sessionCount})booking:{{event.repetition.repeatFrequency}}"></p>
        <hr/>
        <div class="booking-rectangle-info">
            <i class="fa fa-clock-o"></i>
            <p>{{getEventTimeRange()}}</p>    
        </div>
        <div class="booking-rectangle-info">
            <i class="fa fa-usd"></i>
            <p ng-if="event.pricing.sessionPrice >=0"><span ng-i18next="denominations.{{business.currency}}"></span>{{event.pricing.sessionPrice}} {{'booking:per-session' | i18next}}</p>  
            <p ng-if="event.sessions && event.pricing.coursePrice >=0"><span ng-i18next="denominations.{{business.currency}}"></span>{{fullCoursePrice}} {{'booking:full-course' | i18next}}</p>
        </div>
        <div class="booking-rectangle-info">
            <i class="fa fa-user"></i>
            <p ng-i18next="[i18next]({count:spacesAvailable})booking:spaces-available" class="spaces-available"></p>
        </div>
    </div>
    <div class="course-sessions-container" ng-show="event.sessions && selectedEvent.id === event.id && event.pricing.sessionPrice >=0">
        <div class="close-event" ng-click="closeEvent()"><span ng-if="isBigScreen">{{'booking:close' | i18next}}</span><i class="fa fa-close"></i></div>
        <hr/>
        <div class="event-begun" ng-show="isBefore(event)"><i class="fa fa-exclamation-circle"> {{'booking:event-begun' | i18next}}</i></div>
        <booking-course-sessions></booking-course-sessions>
    </div>
</div>