<div class="page-header text-center">
  <div class="tabs">
    <ul>
      <li>
        <a ui-sref-active="active" ui-sref=".location">
          {{'booking:tabs.location-tab' | i18next}}
        </a>
      </li>
      <li>
        <a class="section-disabled" ng-show="!filters.location">
          {{'booking:tabs.services-tab' | i18next}}
        </a>
        <a ui-sref-active="active" ui-sref=".services" ng-show="filters.location">
          {{'booking:tabs.services-tab' | i18next}}
        </a>
      </li>
      <li>
        <a class="section-disabled" ng-show="booking.sessions.length === 0">
          {{'booking:tabs.details-tab' | i18next}}
        </a>
        <a ui-sref-active="active" ui-sref=".details" ng-show="booking.sessions.length > 0">
          {{'booking:tabs.details-tab' | i18next}}
        </a>
      </li>
      <li>
        <a class="section-disabled" ng-show="booking.sessions.length === 0 || !booking.customer">
          {{'booking:tabs.confirmation-tab' | i18next}}
        </a>
        <a ui-sref-active="active" ui-sref=".confirmation" ng-show="booking.sessions.length > 0 && booking.customer">
          {{'booking:tabs.confirmation-tab' | i18next}}
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="content" ui-view>

</div>
