<div class="row">
  <div class="page-header text-center">
    <div class="tabs">
      <ul>
        <li>
          <a ui-sref-active="active" ui-sref=".location">{{'booking:tabs.location-tab' | i18next}}</a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref=".services">{{'booking:tabs.services-tab' | i18next}}</a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref=".details">{{'booking:tabs.details-tab' | i18next}}</a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref=".confirmation">{{'booking:tabs.confirmation-tab' | i18next}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content" ui-view>

  </div>
</div>
