<div class="customers-item-view crud-item wrapper">
    <form name="itemForm" novalidate ng-enter="saveItem(item)">
        <div class="form-input left-col">
            <label name="firstName">{{'person-details.first-name' | i18next}}</label>
            <input name="firstName" ng-model="booking.customer.firstName" placeholder="{{'person-details.placeholder.first-name' | i18next}}"  required ng-maxlength=50 />

                <div class="error-messages" ng-messages="itemForm.firstName.$error || itemForm.lastName.$error" ng-if="itemForm.firstName.$touched || itemForm.lastName.$touched">
                    <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                    <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                    <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                </div>
            </div>

            <div class="form-input right-col">
                <label name="lastName">{{'person-details.last-name' | i18next}}</label>
                <input name="lastName" ng-model="booking.customer.lastName" placeholder="{{'person-details.placeholder.last-name' | i18next}}"  required ng-maxlength=50 />

                <div class="error-messages" ng-messages="itemForm.firstName.$error || itemForm.lastName.$error" ng-if="itemForm.firstName.$touched || itemForm.lastName.$touched">
                    <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                    <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                    <div ng-message="duplicatename"><i class='fa fa-2x fa-times'></i></div>
                </div>
            </div>

            <div class="form-input">
                <label name="email">{{'person-details.email' | i18next}}</label>
                <input type="email" name="email" ng-model="booking.customer.email" placeholder="{{'person-details.placeholder.email' | i18next}}" ng-maxlength=100 />

                <div class="error-messages" ng-messages="itemForm.email.$error" ng-if="itemForm.email.$touched">
                    <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                    <div ng-message="email">{{'businessSetup:error.email' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                </div>
            </div>

            <div class="form-input">
                <label name="phone">{{'person-details.phone' | i18next}}</label>
                <input name="phone" ng-model="booking.customer.phone" placeholder="{{'person-details.placeholder.phone' | i18next}}" ng-maxlength=50 />

                <div class="error-messages" ng-messages="itemForm.phone.$error" ng-if="itemForm.phone.$touched">
                    <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                </div>
            </div>

            <div class="form-input">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember-me" ng-model="booking.customer.remember"/> {{'person-details.remember' | i18next}}
                </label>
              </div>
            </div>
        </form>

        <button class="save-button" ng-click="onRegister()" ng-disabled="AILoading"><span ng-i18next>{{AILoading ? 'saving' : 'save-details'}}</span><ellipsis-animated ng-show="AILoading"/></button>
        <button class="cancel-button" ng-click="onCancel()">{{'cancel' | i18next}}</button>
    </div>
