<div class="wrapper crud-item">
  <h2>{{'booking:enquiry.title' | i18next}}</h2>
  <form ng-enter="onMakeEnquiry(enquiry)" method="post" class="enquiry">
    <div class="form-input">
      <textarea name="enquiry" ng-model="booking.enquiry" rows="4" class="boxSizingBorder"></textarea>
    </div>
  </form>
  <button class="save-button" ng-click="onMakeEnquiry()" ng-disabled="AILoading"><span>{{'next' | i18next}}</span><ellipsis-animated ng-show="AILoading"/></button>
  <button class="cancel-button" ng-click="onCancel()">{{'cancel' | i18next}}</button>
</div>
