<button class="paypal-button" ng-click="paypalSubmit()"></button>

<form class="paypal-form" method="post" action="{{paypalURL}}">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="first_name" value="{{currentBooking.customer.firstName}}">
    <input type="hidden" name="last_name" value="{{currentBooking.customer.lastName}}">
    <input type="hidden" name="payer_email" value="{{currentBooking.customer.email}}">
    <input type="hidden" name="payer_id" value="{{currentBooking.customer.email}}">
    <input type="hidden" name="business" value="{{business.payment.merchantAccountIdentifier}}">
    <input type="hidden" name="receiver_email" value="{{business.payment.merchantAccountIdentifier}}">
    <input type="hidden" name="receiver_id" value="{{business.id}}">
    <input type="hidden" name="item_name" value="{{getServiceName()}}">
    <input type="hidden" name="currency_code" value="{{business.payment.currency}}">
    <input type="hidden" name="amount" value="{{calculateTotalPrice()}}">
    <input type="hidden" name="notify_url" value="{{ENV.apiURL}}/Paypal">
    <input type="hidden" name="return" value="https://{{business.domain + (ENV.name === 'dev' ? '.testing' : '')}}.coachseek.com/#/booking/confirmation/?currentBooking={{getQueryString()}}">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="no_shipping" value="0">
    <input type="hidden" name="custom" value="{{business.id}}">
    <input type="hidden" name="item_number" value="{{currentBooking.booking.id}}">
</form>