[state^="businessSetup"] {
	max-width: 445px;
	margin: 45px auto;

	hr{
		border: none;
		background-color: $light-grey;
		height: 1px;
		clear: both;

		&.double-wide{
			height: 2px;
		}
	}

	.icon-cross{
	    font-size: 16px;
	    font-weight: bold;
	}

	h4{
		color: $grey;
		float: left;
		padding: 5px;
	}

	.setup-nav-container{
		float: right;
		margin-bottom: 35px;

		.setup-nav{
			&.active{
				background: $active-background-grey;
			}

			display: inline-block;
			text-decoration: none;
			width: 80px;
			margin-left: 7px;
			background: $white;
			font-size: 14px;
			color: $dark-grey;
			padding: 5px;
			text-align: center;
			border: 1px solid $border-grey;
			border-radius: 5px;
		}
	}

	input, textarea{
		border-radius: 5px;
		border: 1px solid transparent;
		color: $text-dark-grey;
		padding: 5px 10px;
		width: 100%;

		&:focus{
			outline: none;
		}
	}

	label{
		color: $text-grey;
		font-size: 11px;
		display: block;
		padding: 2.5px 0px;
	}

	form{
		margin-top: 20px;
		margin-bottom: 10px;
		overflow: hidden;
		padding-bottom: 10px;

		.form-input{
			width: 100%;
			float: left;
			margin-bottom: 15px;
			position: relative;
			
			&.left-col{
				width: 48%;
				margin-right: 4%;
			}
			&.right-col{
				width: 48%;
			}
		}
	}

	.create-item{
		display: block;
		border: none;
		margin: 20px auto;
		color: $white;
		background: $green;
		border-radius: 5px;
		padding: 7.5px 25px;
	}

	.cancel-button{
		background: none;
		border: none;
		float: right;
		margin-right: 30px;
		color: $green;
		height: 35px;
	}

	.save-button{
		float: right;
		color: $white;
		background: $green;
		border: none;
		border-radius: 5px;
		padding: 7.5px 25px;
	}

	.edit-item{
		float: right;
		border: none;
		background: none;
		color: $green;
	}

	ul{
		li{
			padding-top: 10px;
			.item-title, .item-subtitle{
				width: 50%;
				float: left;
				color: $text-dark-grey;
				clear: left;
			}
			.service-description{
				width: 75%;
			}
			.item-title{
				font-size: 16px;
			}
			.item-subtitle.last{
				margin-bottom: 15px;
			}
		}
	}
}