[state^="businessSetup"] {
	max-width: 445px;
	margin: 45px auto;

	hr{
		border: none;
		background-color: $light-grey;
		height: 1px;
		clear: both;

		&.double-wide{
			height: 2px;
		}
	}

	.icon-cross{
	    font-size: 16px;
	    font-weight: bold;
	}

	.setup-nav-container{
		float: right;
		margin-bottom: 35px;
		width: 100%;

		.setup-nav{
			&.active{
				background: $background-grey;
			}

			&:last-of-type{
				margin-right: 0;
			}

			display: inline-block;
			text-decoration: none;
			width: 22%;
			margin-right: 4%;
			background: $white;
			font-size: 14px;
			color: $dark-grey;
			padding: 5px;
			text-align: center;
			border: 1px solid $border-grey;
			float: left;
		}
	}

	.create-item{
		display: block;
		border: none;
		margin: 20px auto;
		color: $white;
		background: $green;
		border-radius: 5px;
		padding: 7.5px 25px;
	}

	.edit-item{
		float: right;
		border: none;
		background: none;
		color: $green;
	}

	ul{
		li{
			padding-top: 10px;
			.item-title, .item-subtitle{
				width: 50%;
				float: left;
				color: $text-dark-grey;
				clear: left;
			}
			.service-description{
				width: 75%;
			}
			.item-title{
				font-size: 16px;
			}
			.item-subtitle.last{
				margin-bottom: 15px;
			}
		}
	}
}