@media(min-width:769px){
    [state^="businessSetup"] {
        max-width: 445px;
        margin: 45px auto;

        hr.double-wide{
            position:relative;
            top:20px;
        }

        .icon-cross{
            font-size: 16px;
            font-weight: bold;
        }

        .setup-nav-container{
            float: right;
            width: 100%;
            height: 30px;
            background: white;
            border-radius: 5px;

            .setup-nav{
                &.active{
                    color: $white;
                }

                &:last-of-type{
                    margin-right: 0;
                }
                display: inline-block;
                text-decoration: none;
                width: 25%;
                font-size: 14px;
                color: $dark-grey;
                padding: 5px;
                text-align: center;
                float: left;
            }
        }

        .create-item{
            display: block;
            border: none;
            margin: 20px auto;
            width: 146px;
            color: $white;
            background: $green;
            border-radius: 5px;
            padding: 10px 25.5px;
            transition: background-color 0.5s ease;
                &:hover{
                    background: $hover-green;
                }
        }

        .edit-item{
            float: right;
            border: none;
            background: none;
            color: $green;
        }

        .crud-item .form-input{
            select.currency-picker{
                opacity: 0;
            }

            select-overlay{
                border: 1px solid transparent;
                padding: 6px 15px;
                background: $white;
                position: absolute;
                bottom: -4px;
                left: 0px;
                border-radius: 5px;
                height: 32px;
            }

            &.subdomain{
                input{
                    width: 77%;
                    text-align: center;
                }
            }
        }

        ul{
            li{
                padding-top: 10px;
                .item-title, .item-subtitle{
                    width: 50%;
                    float: left;
                    color: $text-dark-grey;
                    clear: left;
                }
                .service-description{
                    width: 75%;
                }
                .item-title{
                    font-size: 16px;
                }
                .item-subtitle.last{
                    margin-bottom: 15px;
                }
            }
        }
    }
}


@media(max-width:768px){
    hr.double-wide{
        margin-left: 10px;
        margin-right: 10px;
    }
    .main-container .list-item-container-wrapper{
        padding:40px 20px 10px 20px;
        .business-list-view{
            margin-top: 25px;
        }
    }

    [state^="businessSetup"] {

        max-width: 100%;
        margin: 0px auto 44px auto;

        .icon-cross{
            font-size: 16px;
            font-weight: bold;
        }
        .setup-nav-container{
            background: $background-beige;
            position: fixed;
            z-index: 30;
            float: right;
            padding-bottom: 5px;
            width: 100%;

            .setup-nav{
                &.active{
                    background: $mobile-background-dark;
                    color:$white;
                    border-right: 0px solid $mobile-text-grey;
                }

                &:last-of-type{
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                display: inline-block;
                text-decoration: none;
                width: 25%;
                //                        margin-right: 4%;
                background: $white;
                font-size: 14px;
                color:$mobile-text-grey;
                padding: 12px;
                text-align: center;
                vertical-align: middle;

                border-right: 1px solid $mobile-text-grey;
                &:last-child{
                    border-right: 0px;
                }
                float: left;
            }

            .slider-nav-slider{
                display: none;
            }
        }

        .crud-item .form-input{
            select.currency-picker{
                opacity: 0;
            }

            select-overlay{
                border: 1px solid transparent;
                padding: 11px 15px;
                background: $white;
                position: absolute;
                bottom: -13px;
                left: 0px;
                border-radius: 5px;
                height: 42px;

                select-arrows{
                    bottom: 5px;
                }
            }

            &.subdomain{
                input{
                    width: 71%;
                    text-align: center;
                }
            }
        }

        .create-item{
            display: block;
            border: none;
            margin: 40px auto 10px auto;
            color: $white;
            background: $green;
            border-radius: 5px;
            padding: 10px 25.5px;
        }

        .edit-item{
            float: right;
            border: none;
            background: none;
            color: $green;
        }

        ul{
            li{
                padding-top: 10px;
                .item-title, .item-subtitle{
                    width: 50%;
                    float: left;
                    color: $text-dark-grey;
                    clear: left;
                }
                .service-description{
                    width: 75%;
                }
                .item-title{
                    font-size: 16px;
                }
                .item-subtitle.last{
                    margin-bottom: 15px;
                }
            }
        }
    }
}