[state^="newUserSetup"] {
    position: absolute;
    width: 100%;
    padding-bottom: 200px;
    background: url(#{$asset-url}/pics/signup-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .new-user-container{
        max-width: 445px;
        margin: 45px auto;
        overflow: hidden;
        color: $white;

        h4, p{
            text-align: center;
        }

        h4{
            font-size: 20px;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            font-weight: $lato-light;
            span{
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .business-item-view{
            form{
                .form-input{
                    margin-bottom: 8px;
                }
                label {
                    color: $white
                }
                input, select{
                    border: 1px solid transparent;
                    padding: 10px 15px;
                    background: rgba(255,255,255,.1);

                    &.ng-valid{
                        border: 1px solid transparent;
                    }

                    &.ng-invalid.ng-touched{
                        border: 1px solid $white;
                    }
                }

                input{
                    color: $white;
                }

                select{
                    opacity: 0;
                }

                select-overlay{
                    border: 1px solid transparent;
                    padding: 10px 15px;
                    background: rgba(255,255,255,.1);
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    height: 42px;
                    border-radius: 5px;
                }

                select-arrows{
                    font-size: 18px;
                    right: 20px;
                    bottom: 2px;
                    .fa-caret-up{
                        top: -3px;
                    }
                }
                .error-messages{
                    color: $white;
                    text-align: right;
                    i{
                        color: $white;
                        top: -30px;
                        font-size: 18px;
                    }
                }
            }

            .save-button{
                width: 100%;
            }
        }
    }
    @media(max-width:768px){
        .new-user-container{
            padding: 0px 10px;
        }

    }

}
