repeat-selector{
    color: $text-grey;

    input.repeat-checkbox{
        width: 25px
    }

    .form-input{
        &[disabled]{
            pointer-events: none;
            opacity: 0.5;
        }

        label.repeat-label{
            display: inline;
            cursor: pointer;
        }

        input.session-count{
            width: 15%;
            text-align: center;
            margin: 0 5px;
        }

        select{
            margin: 0 5px;
        }

        .error-messages div{
            float: right;
        }
    }
}