repeat-selector{
    width: 100%;
    float: left;
    color: $text-dark-grey;

    .form-input{
        float: left;
        &[disabled]{
            pointer-events: none;
            opacity: 0.5;
        }
        &.repeat-selector{
            width: 30%;
        }
        &.frequency-selector{
            margin-left: 3%;
            width: 67%;
            .title{
                width: 46%;
                float: left;
            }

            select.repeat-frequency{
                width: 46%;
                float: left;
                clear: left;
            }

            .total-of{
                width: 46%;
                float: right;
                margin-top: -20px; 
            }

            .session-count{
                width: 46%;
                float: right;
                height: 30px;
                text-align: left;
                padding: 0px 0px 0px 40px;
            }

            .error-messages .fa-times{
                top: -35px;
            }

            .days-or-weeks{
                width: 46%;
                position: absolute;
                top: 25px;
                right: -28%;
            }

            select-arrows{
                left: 41%;
            }
        }
        label{
            display: block;
            cursor: pointer;
        }

        input.session-count{
            width: 15%;
            text-align: center;
            margin: 0 5px;
        }

        .error-messages div{
            float: right;
        }
    }
    select{
        height: 30px;
        margin: 0;
        border: 1px solid $light-grey;
        width: 100%;
    }
}