repeat-selector{
    color: $text-grey;

    input.repeat-checkbox{
        width: 25px
    }

    label.repeat-label{
        display: inline;
        cursor: pointer;
    }

    input.session-count{
        width: 15%;
        text-align: center;
        margin: 0 5px;
    }

    select{
        margin: 0 5px;
    }
}