.time-picker-container{
    height: 120px;
    width: 445px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
    overflow: hidden;
    text-align: center;
}

.time-picker-container.ng-hide {
    height: 0px;
}

.time-picker{
    background: $background-grey;

    .hours, .minutes, .semi-colon {
        overflow: hidden;
        display: inline-block;
        font-size: 20px;
        width: 40px;
        height: 85px;
        cursor: pointer;
    }

    .semi-colon {
        line-height: 77.5px;
        font-size: 30px;
        vertical-align: top;
    }

    .button-container{
        width: 100%;
        height: 30px;

        button{
            height: 30px;
            width: 50%;
            border: none;
            color: $white;
            float: left;
        }

        .time-picker-cancel-button{
            background: $dark-grey;
            border-bottom-left-radius: 5px;
        }

        .time-picker-save-button{
            border-bottom-right-radius: 5px;
            background: $green;
        }
    }
}

.time-picker-time{
    cursor: pointer;
    display: inline-block;
    width: 70px;
    font-size: 16px;
    height: 35px;
    border: 1px solid $light-grey;
    background: transparent;
    text-align: center;
    display: inline-block;

    &:focus{
        border-color: $green;
    }
}

@media (max-width: 768px){
    .duration-picker-container .time-picker-time{
        width: 100%;
    }
}