.weekday{
    
    time-range-picker{
        // background: purple;
        display: inline;
        overflow: hidden;
        &.ng-invalid{
            border: 1px solid red;
        }

        &[disabled="disabled"]{
        pointer-events: none;
            &.ng-invalid{
                border: none;
            }
            .increase, .decrease{
                display: none;
            }
        }
    }
}