<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Coachseek</title>
    <link rel="shortcut icon" href="assets/pics/favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="//static.intercomcdn.com/intercom.v1.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/templates.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl" ng-strict-di ng-class="{'with-navbar': currentUser}">
    <div id="wrapper" ng-class="!isCollapsed?'toggled': ''">
        <div class="navbar navbar-inverse navbar-fixed-top" ng-show="currentUser">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle pull-left" type="button" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    <activity-indicator class="pull-right"  ui-sref="scheduling"></activity-indicator>
                </div>
            </div>
           <!-- Sidebar -->
            <div ng-class="isBigScreen ? '' : 'sidebar-wrapper' ">
                <ul ng-class="isBigScreen? 'nav navbar-nav' : 'sidebar-nav' "  ng-click="isCollapsed = !isCollapsed">
                    <li class="toggle-icon">
                        <a>
                            <i class="fa fa-bars fa-2x"></i>
                        </a>
                    </li>
                    <li><a ui-sref="comingSoon.dashboard" ui-sref-active="active">{{'dashboard' | i18next}}</a></li>
                    <li><a ui-sref="scheduling" ui-sref-active="active">{{'scheduling' | i18next}}</a></li>
                    <li><a ui-sref="comingSoon.financials" ui-sref-active="active">{{'financials' | i18next}}</a></li>
                    <li><a ui-sref="customers" ui-sref-active="active">{{'customers' | i18next}}</a></li>
                    <li><a ui-sref="businessSetup.business" ng-class="{ active: $state.includes('businessSetup') }">{{'settings' | i18next}}</a></li>
                    <li><a ui-sref="bookingAdmin" ui-sref-active="active">{{'booking' | i18next}}</a></li>
                    <li>
                    </li>
                    <li class="login-right">
                        <a class="kb-link fa fa-question-circle" ng-hide="!isBigScreen" href="http://support.coachseek.com/" target="_blank"></a>
                        <a class="logout" ng-click="currentUser ? logout() : login()" ng-i18next>{{currentUser ? 'logout-text' : 'login-text'}}</a>
                    </li>
                 </ul>
            </div>
        </div>

        <div id="page-content-wrapper" ng-click="isCollapsed = true">
            <div class="main-container">
                <div ui-view id="main-view" state="{{$state.current.name}}"></div>
            </div>
            <div class="alert-container">
                <alert class="fade-in-out" ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.dismissTimeout}}" close="closeAlert($index)" >
                    <span ng-i18next="[i18next]({alert:alert}){{alert.message}}"></span>
                </alert>
            </div>
         </div>
    </div>
</body>
</html>
