<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coachseek</title>
    <link rel="shortcut icon" href="assets/pics/favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/templates.js"></script>
    <script src="//static.intercomcdn.com/intercom.v1.js"></script>
</head>

<body ng-app="app" ng-controller="appCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top custom-navbar" role="navigation">
        <div class="container-fluid">


            <div class="navbar-header">
                <button class="navbar-toggle pull-left" type="button" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <activity-indicator class="pull-right"  ui-sref="businessSetup.business"></activity-indicator>
            </div>


            <div class="desktop-nav">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="businessSetup.business" ng-class="{ active: $state.includes('businessSetup') }">{{'settings' | i18next}}</a></li>
                    <li><a class="inactive" ui-sref="dashboard" ui-sref-active="active">{{'dashboard' | i18next}}</a></li>
                    <li><a ui-sref="scheduling" ui-sref-active="active">{{'scheduling' | i18next}}</a></li>
                    <li><a class="inactive" ui-sref="services" ui-sref-active="active">{{'services' | i18next}}</a></li>
                    <li><a ui-sref="customers" ui-sref-active="active">{{'customers' | i18next}}</a></li>
                    <li><a class="inactive" ui-sref="financials" ui-sref-active="active">{{'financials' | i18next}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="logout" ng-click="currentUser ? logout() : loginModal()" ng-i18next>{{currentUser ? 'logout-text' : 'login-text'}}</a></li>
                </ul>
            </div>
        </div>







    </nav>
    

        <!-- mobi nav -->

        <div class="mobi-nav" ng-hide="isCollapsed" ng-click="isCollapsed = !isCollapsed">
          
            <div class="mobi-nav-content" >
            

                <ul>
                    <li><a href="" class="fa fa-bars fa-lg mobi-nav-icon"></a></li>
                    <li><a ui-sref="businessSetup.business" ng-class="{ active: $state.includes('businessSetup') }">{{'settings' | i18next}}</a></li>
                    <li><a  class="inactive" ui-sref="dashboard" ui-sref-active="active">{{'dashboard' | i18next}}</a></li>
                    <li><a ui-sref="scheduling" ui-sref-active="active">{{'scheduling' | i18next}}</a></li>
                    <li><a class="inactive" ui-sref="services" ui-sref-active="active">{{'services' | i18next}}</a></li>
                    <li><a ui-sref="customers" ui-sref-active="active">{{'customers' | i18next}}</a></li>
                    <li><a class="inactive" ui-sref="financials" ui-sref-active="active">{{'financials' | i18next}}</a></li>
                    <li><a href="#" class="logout" ng-click="currentUser ? logout() : loginModal()" ng-i18next>{{currentUser ? 'logout-text' : 'login-text'}}</a></li>
                </ul>



            </div>





        </div>




    <div class="main-container">
        <div ui-view id="main-view" state="{{$state.current.name}}"></div>
    </div>
    <div class="alert-container">
        <alert class="fade-in-out" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" >
            <span ng-i18next="[i18next]({name:alert.name}){{alert.message}}"></span>
        </alert>
    </div>
</body>
</html>
