<!-- the viewport -->
<div class="m-scooch m-fluid m-scooch-photos">
	<!-- the slider -->
	<div class="m-scooch-inner">
	<!-- the items -->
		<div class="m-item m-active">
		    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-slide-1.png">
		      	<p class="strong" ng-i18next>{{'onboarding:mobileOnboardingSignUp.slide-title-1' | i18next}}</p>
		      	<p>{{'onboarding:mobileOnboardingSignUp.slide-description-1' | i18next}}</p>
		</div>
		<div class="m-item">
		    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-slide-2.png">
		    <p class="strong">{{'onboarding:mobileOnboardingSignUp.slide-title-2' | i18next}}</p>
		    <p>{{'onboarding:mobileOnboardingSignUp.slide-description-2' | i18next}}</p>
		</div>
		<div class="m-item">
		    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-slide-3.png">
		    <p class="strong">{{'onboarding:mobileOnboardingSignUp.slide-title-3' | i18next}}</p>
		    <p>{{'onboarding:mobileOnboardingSignUp.slide-description-3' | i18next}}</p>
		</div>
		<div class="m-item">
		    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-slide-4.png">
		    <p class="strong">{{'onboarding:mobileOnboardingSignUp.slide-title-4' | i18next}}</p>
		    <p>{{'onboarding:mobileOnboardingSignUp.slide-description-4' | i18next}}</p>
		</div>

	</div>
	<!-- the controls -->
	<div class="m-scooch-controls m-scooch-bulleted">
		<a href="#" data-m-slide="1" class="m-active">1</a>
		<a href="#" data-m-slide="2">2</a>
		<a href="#" data-m-slide="3">3</a>
		<a href="#" data-m-slide="4">4</a>
	</div>
</div>