<div class="m-onboarding signup">
	<!-- the viewport -->
	<div class="m-scooch m-fluid m-scooch-photos" scooch-slider>
		<!-- the slider -->
		<div class="m-scooch-inner">
		<!-- the items -->
			<div class="m-item m-active">
			    <img src="assets/pics/logo-white.png">
			    <p class="strong" ng-i18next>{{'onboarding:mobileOnboardingSignUp.slide-title-2' | i18next}}</p>
			    <p>{{'onboarding:mobileOnboardingSignUp.slide-description-2' | i18next}}</p>
			</div>
			
		</div>
	</div>
	
	<div class="signup-group">
		<a href="" class="group-btn green" ng-click="joinUs()">{{'onboarding:mobileOnboardingSignUp.joinUs' | i18next}}</a>
		<a href="" class="group-btn" ng-click="signIn()">{{'onboarding:mobileOnboardingSignUp.signIn' | i18next}}</a>
	</div>

</div>