<div class="m-onboarding default">
    <form name="mobileOnboardingDefaultForm" novalidate ng-init="business.currency = 'USD'">
        <div class="m-scooch m-fluid m-scooch-photos" scooch-slider options="{draggable: false,dotNav: true}">
            <!-- the slider -->
            <div class="m-scooch-inner">

            <!-- the items -->
                <div class="m-item m-active welcome">
                    <p class="strong">{{'onboarding:mobileOnboardingDefault.welcome-title' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.welcome-description' | i18next}}</p>
                    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-welcome.png">
                    <button href="" ng-click="slideNext()" class="group-btn green">{{'onboarding:mobileOnboardingDefault.welcome-button' | i18next}}</button>
                </div>
                
                <div class="m-item personal">
                    <p class="strong">{{'onboarding:mobileOnboardingDefault.personal-title' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.personal-description' | i18next}}</p>
                    <div class="input">    
                        <input name="adminFirstName" type="text" ng-model="admin.firstName" placeholder="{{'onboarding:mobileOnboardingDefault.personal-placeholder-firstName' | i18next}}" required ng-maxlength=50 tabindex="-1"> 

                        <input name="adminLastName" type="text" ng-model="admin.lastName" placeholder="{{'onboarding:mobileOnboardingDefault.personal-placeholder-lastName' | i18next}}"required ng-maxlength=50 tabindex="-1">                
                        <div class="error-messages error-messages-mobile-onboarding top" ng-messages="mobileOnboardingDefaultForm.adminFirstName.$error" ng-if="mobileOnboardingDefaultForm.adminFirstName.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}} <i class='fa fa-times'></i></div>
                        </div>
                         <div class="error-messages error-messages-mobile-onboarding bottom" ng-messages="mobileOnboardingDefaultForm.adminLastName.$error" ng-if="mobileOnboardingDefaultForm.adminLastName.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}} <i class='fa fa-times'></i></div>
                        </div>
                    </div>
                
                    <button ng-click="slideNext(['adminFirstName','adminLastName'])" class="group-btn green">{{'onboarding:mobileOnboardingDefault.continue-button' | i18next}}</button>
                </div>
                
                <div class="m-item business">
                    <div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
                    <p class="strong">{{'onboarding:mobileOnboardingDefault.business-title' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.business-description' | i18next}}</p>
                    <div class="input">  
                        <input name="businessName" type="text" ng-model="business.name" placeholder="{{'onboarding:mobileOnboardingDefault.business-placeholder-name' | i18next}}" required ng-minlength=3 ng-maxlength=50 tabindex="-1">
                        <input name="adminEmail" type="email" ng-model="admin.email" placeholder="{{'onboarding:mobileOnboardingDefault.business-placeholder-email' | i18next}}" required tabindex="-1"> 
                        <div class="error-messages error-messages-mobile-onboarding top" ng-messages="mobileOnboardingDefaultForm.businessName.$error" ng-if="mobileOnboardingDefaultForm.businessName.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="minlength">{{'businessSetup:error.minlength' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}} <i class='fa fa-times'></i></div>
                        </div>
                         <div class="error-messages error-messages-mobile-onboarding bottom" ng-messages="mobileOnboardingDefaultForm.adminEmail.$error" ng-if="mobileOnboardingDefaultForm.adminEmail.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
                            <div ng-message="email">{{'businessSetup:error.email' | i18next}} <i class='fa fa-times'></i></div>
                        </div>
                    </div>
                    <button ng-click="slideNext(['businessName','adminEmail'])" class="group-btn green">{{'onboarding:mobileOnboardingDefault.continue-button' | i18next}}</button>
                </div>
                <div class="m-item security">
                    <div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
                    <p class="strong">{{'onboarding:mobileOnboardingDefault.security-title' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.security-description' | i18next}}</p>
                    <div class="input">
                        <input name="adminPassword" type="password" ng-model="admin.password" placeholder="&#xf1e3;&#xf1e3;&#xf1e3;&#xf1e3;&#xf1e3;&#xf1e3;" required ng-minlength=6 ng-maxlength=50 tabindex="-1">   
                        <div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingDefaultForm.adminPassword.$error" ng-if="mobileOnboardingDefaultForm.adminPassword.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
                            <div ng-message="minlength">{{'businessSetup:error.password-minlength' | i18next}}<i class='fa fa-times'></i></div>
                        </div>
                    </div>
                  
                     <button ng-click="slideNext(['adminPassword'])" class="group-btn green">{{'onboarding:mobileOnboardingDefault.continue-button' | i18next}}</button>
                </div>

                <div class="m-item lesson">
                    <div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
                    <p class="strong">{{'onboarding:mobileOnboardingDefault.lesson-title' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.lesson-description' | i18next}}</p>
                    <div class="input"> 
                        <input name="serviceName" type="text" ng-model="serviceName" placeholder="{{'onboarding:mobileOnboardingDefault.lesson-placeholder' | i18next}}" required ng-maxlength=50 tabindex="-1">
                        <div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingDefaultForm.serviceName.$error" ng-if="mobileOnboardingDefaultForm.serviceName.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-times'></i></div>
                        </div>
                    </div>
                   
                    <button ng-click="slideNext(['serviceName'])" class="group-btn green">{{'onboarding:mobileOnboardingDefault.continue-button' | i18next}}</button>
                </div>
                
                <div class="m-item location">
                    <div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
                       <p class="strong">{{'onboarding:mobileOnboardingDefault.location-title' | i18next}}</p>
                       <p>{{'onboarding:mobileOnboardingDefault.location-description-1' | i18next}}&nbsp;<span class="strong">{{serviceName}}</span>{{'onboarding:mobileOnboardingDefault.location-description-2' | i18next}}</p>
                    <div class="input">
                        <input name="locationName" type="text" ng-model="locationName" placeholder="{{'onboarding:mobileOnboardingDefault.location-placeholder' | i18next}}" required ng-maxlength=50 tabindex="-1">
                        <div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingDefaultForm.locationName.$error" ng-if="mobileOnboardingDefaultForm.locationName.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-times'></i></div>
                        </div>
                    </div>
                    <button ng-click="slideNext(['locationName'])" class="group-btn green">{{'onboarding:mobileOnboardingDefault.continue-button' | i18next}}</button>
                </div>

                <div class="m-item price">
                    <div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
                    <p class="strong">{{'onboarding:mobileOnboardingDefault.price-title' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.price-description-1' | i18next}}&nbsp;<span class="strong">{{serviceName}}</span>&nbsp;{{'onboarding:mobileOnboardingDefault.at' | i18next}}&nbsp;<span class="strong">{{locationName}}</span>&nbsp;{{'onboarding:mobileOnboardingDefault.price-description-2' | i18next}}</p>
                    <div class="input">
                        <span class="money-sign" ng-i18next="denominations.{{business.currency}}"></span>
                          <input name="sessionPrice" type="number" ng-model="sessionPrice" placeholder="{{'onboarding:mobileOnboardingDefault.price-placeholder' | i18next}}" required tabindex="-1">
                          <div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingDefaultForm.sessionPrice.$error" ng-if="mobileOnboardingDefaultForm.sessionPrice.$touched">
                            <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-times'></i></div>
                            <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-times'></i></div>
                        </div>
                    </div>

                    <currency-picker current-currency="business.currency"></currency-picker>
                    <button ng-click="createDefaults()" class="group-btn green">{{'onboarding:mobileOnboardingDefault.continue-button' | i18next}}</button>
                </div>

                <div class="m-item scheduling">
                    <div ng-hide="hideSkipButton" >
                        <p class="strong">{{'onboarding:mobileOnboardingDefault.calendar-title' | i18next}}</p>
                        <p>{{'onboarding:mobileOnboardingDefault.calendar-description-1' | i18next}}&nbsp;<span class="strong">{{'onboarding:mobileOnboardingDefault.calendar-description-2' | i18next}}</span>&nbsp;{{'onboarding:mobileOnboardingDefault.calendar-description-3' | i18next}}</p>
                    </div>

                    <div ng-show="hideSkipButton" >
                        <p class="strong">{{'onboarding:mobileOnboardingDefault.nice-work' | i18next}}</p>
                        <p>{{'onboarding:mobileOnboardingDefault.wrap-up-1' | i18next}}&nbsp;<span class="strong">{{serviceName}}</span>&nbsp;{{'onboarding:mobileOnboardingDefault.wrap-up-2' | i18next}}</p>
                    </div>
                    
                    <div class="calendar-container calendar-container-desktop">
                        <div class="calendar" id="mobile-onboarding-calendar" ui-calendar="uiConfig.onboardingCalendar" ng-model="events" calendar="mobileOnboardingCalendar"></div>
                    </div>
                    <button ng-click="slideNext()" ng-show="hideSkipButton" class="group-btn green">{{'onboarding:mobileOnboardingDefault.finish-button' | i18next}}</button>
                </div>
                <div class="m-item wrap-up">
	                <p class="strong">{{'onboarding:mobileOnboardingDefault.nice-work' | i18next}}</p>
	                <p>{{'onboarding:mobileOnboardingDefault.wrap-up-1' | i18next}}&nbsp;<span class="strong">{{serviceName}}</span>&nbsp;{{'onboarding:mobileOnboardingDefault.wrap-up-2' | i18next}}</p>
                    <p>{{'onboarding:mobileOnboardingDefault.wrap-up-3' | i18next}}</p>
                    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-thumbs-up.png">
                    <button ui-sref="bookingAdmin" class="group-btn green">{{'onboarding:mobileOnboardingDefault.wrap-up-continue' | i18next}}</button>
                </div> 
                <!-- the controls -->
            </div>
            <div class="m-scooch-controls m-scooch-bulleted" ng-hide="hideSkipButton">
                <a href="#" data-m-slide="1" class="m-active">1</a>
                <a href="#" data-m-slide="2">2</a>
                <a href="#" data-m-slide="3">3</a>
                <a href="#" data-m-slide="4">4</a>
                <a href="#" data-m-slide="5">5</a>
                <a href="#" data-m-slide="6">6</a>
                <a href="#" data-m-slide="7">7</a>
                <a href="#" data-m-slide="8">8</a>
            </div>
        </div>

        <span class="skip" ng-hide="hideSkipButton" ng-click="skipModal()">{{'onboarding:mobileOnboardingDefault.skip' | i18next}}</span>
    </form>
</div>    