<!-- the viewport -->
<div class="m-scooch m-fluid m-scooch-photos">
	<!-- the slider -->
	<div class="m-scooch-inner">
	<!-- the items -->
		<div class="m-item m-active welcome">
		    <p class="strong">{{'onboarding:mobileOnboardingDefault.welcome-title' | i18next}}</p>
		    <p>{{'onboarding:mobileOnboardingDefault.welcome-description' | i18next}}</p>
		    <img ng-src="https://az789256.vo.msecnd.net/assets/{{ENV.version}}/pics/m-onboarding-welcome.png">
		    <a href="" ng-click="slideNext()" class="group-btn green">{{'onboarding:mobileOnboardingDefault.welcome-button' | i18next}}</a>
		</div>
		
		<div class="m-item personal">
			<form name="mobileOnboardingPersonalForm" novalidate>
				<div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
			    <p class="strong">{{'onboarding:mobileOnboardingDefault.personal-title' | i18next}}</p>
			    <p>{{'onboarding:mobileOnboardingDefault.personal-description' | i18next}}</p>
			    <div class="input">    
				    <input name="adminFirstName" type="text" ng-model="admin.firstName" placeholder="{{'onboarding:mobileOnboardingDefault.personal-placeholder-firstName' | i18next}}" required ng-maxlength=50> 

				    <input name="adminLastName" type="text" ng-model="admin.lastName" placeholder="{{'onboarding:mobileOnboardingDefault.personal-placeholder-lastName' | i18next}}"required ng-maxlength=50>			    
				    <div class="error-messages error-messages-mobile-onboarding top" ng-messages="mobileOnboardingPersonalForm.adminFirstName.$error" ng-if="mobileOnboardingPersonalForm.adminFirstName.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}} <i class='fa fa-times'></i></div>
		            </div>
		             <div class="error-messages error-messages-mobile-onboarding bottom" ng-messages="mobileOnboardingPersonalForm.adminLastName.$error" ng-if="mobileOnboardingPersonalForm.adminLastName.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}} <i class='fa fa-times'></i></div>
		            </div>
				</div>
			
			    <a href="" ng-click="slideNext(mobileOnboardingPersonalForm,mobileOnboardingPersonalForm.adminFirstName,mobileOnboardingPersonalForm.adminLastName)" class="group-btn green">{{'onboarding:mobileOnboardingDefault.personal-button' | i18next}}</a>

	        </form>
		</div>
		
		<div class="m-item business">
			<form name="mobileOnboardingBusinessForm" novalidate>
				<div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
			    <p class="strong">{{'onboarding:mobileOnboardingDefault.business-title' | i18next}}</p>
			    <p>{{'onboarding:mobileOnboardingDefault.business-description' | i18next}}</p>
			    <div class="input">  
				    <input name="businessName" type="text" ng-model="business.name" placeholder="{{'onboarding:mobileOnboardingDefault.business-placeholder-name' | i18next}}" required ng-maxlength=50>
				    <input name="adminEmail" type="email" ng-model="admin.email" placeholder="{{'onboarding:mobileOnboardingDefault.business-placeholder-email' | i18next}}" required> 
				    <div class="error-messages error-messages-mobile-onboarding top" ng-messages="mobileOnboardingBusinessForm.businessName.$error" ng-if="mobileOnboardingBusinessForm.businessName.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="duplicatename">{{'businessSetup:error.duplicatename' | i18next}} <i class='fa fa-times'></i></div>
		            </div>
		             <div class="error-messages error-messages-mobile-onboarding bottom" ng-messages="mobileOnboardingBusinessForm.adminEmail.$error" ng-if="mobileOnboardingBusinessForm.adminEmail.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}} <i class='fa fa-times'></i></div>
		                <div ng-message="email">{{'businessSetup:error.email' | i18next}} <i class='fa fa-times'></i></div>
		            </div>
			    </div>
			    <a href="" ng-click="slideNext(mobileOnboardingBusinessForm,mobileOnboardingBusinessForm.businessName,mobileOnboardingBusinessForm.adminEmail)" class="group-btn green">{{'onboarding:mobileOnboardingDefault.business-button' | i18next}}</a>
			   
            </form>
		</div>
		<div class="m-item security">
			<form name="mobileOnboardingSecurityForm" novalidate>
				<div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
			    <p class="strong">{{'onboarding:mobileOnboardingDefault.security-title' | i18next}}</p>
			    <p>{{'onboarding:mobileOnboardingDefault.security-description' | i18next}}</p>
			    <div class="input">
			    	<input name="adminPassword" type="password" ng-model="admin.password" placeholder="{{'onboarding:mobileOnboardingDefault.security-placeholder' | i18next}}" required ng-minlength=6 ng-maxlength=50>   
			    	<div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingSecurityForm.adminPassword.$error" ng-if="mobileOnboardingSecurityForm.adminPassword.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-2x fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-2x fa-times'></i></div>
		                <div ng-message="minlength">{{'businessSetup:error.password-minlength' | i18next}}<i class='fa fa-times'></i></div>
		            </div>
			    </div>
			  
			     <a href="" ng-click="slideNext(mobileOnboardingSecurityForm,mobileOnboardingSecurityForm.adminPassword)" class="group-btn green">{{'onboarding:mobileOnboardingDefault.business-button' | i18next}}</a>
			 
		    </form>
		</div>
		<div class="m-item lesson">
			<form name="mobileOnboardingLessonForm" novalidate>
				<div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
			    <p class="strong">{{'onboarding:mobileOnboardingDefault.lesson-title' | i18next}}</p>
			    <p>{{'onboarding:mobileOnboardingDefault.lesson-description' | i18next}}</p>
			    <div class="input"> 
			    	<input name="serviceName" type="text" ng-model="serviceName" placeholder="{{'onboarding:mobileOnboardingDefault.lesson-placeholder' | i18next}}" required ng-maxlength=50>
			    	<div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingLessonForm.serviceName.$error" ng-if="mobileOnboardingLessonForm.serviceName.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-times'></i></div>
		            </div>
			    </div>
			   
			    <a href="" ng-click="slideNext(mobileOnboardingLessonForm,mobileOnboardingLessonForm.serviceName)" class="group-btn green">{{'onboarding:mobileOnboardingDefault.lesson-button' | i18next}}</a>
		    </form>
		</div>
		
		<div class="m-item location">
			<form name="mobileOnboardingLocationForm" novalidate>
				<div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
		   		<p class="strong">{{'onboarding:mobileOnboardingDefault.location-title' | i18next}}</p>
			    <p>{{('onboarding:mobileOnboardingDefault.location-description-1' | i18next)+serviceName+('onboarding:mobileOnboardingDefault.location-description-2' | i18next)}}</p>
			    <div class="input">
			    	<input name="locationName" type="text" ng-model="locationName" placeholder="{{'onboarding:mobileOnboardingDefault.location-placeholder' | i18next}}" required ng-maxlength=50>
			    	<div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingLocationForm.locationName.$error" ng-if="mobileOnboardingLocationForm.locationName.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-times'></i></div>
		            </div>
			    </div>
			    <a href="" ng-click="slideNext(mobileOnboardingLocationForm,mobileOnboardingLocationForm.locationName)" class="group-btn green">{{'onboarding:mobileOnboardingDefault.location-button' | i18next}}</a>
		    </form>
		</div>
	
		<div class="m-item price">
			<form name="mobileOnboardingPriceForm" novalidate>
				<div class="back" ng-click="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></div>
			    <p class="strong">{{'onboarding:mobileOnboardingDefault.price-title' | i18next}}</p>
			    <p>{{('onboarding:mobileOnboardingDefault.price-description-1' | i18next)+serviceName+('onboarding:mobileOnboardingDefault.price-description-2' | i18next)}}</p>
			    <div class="input">
			    	  <input name="sessionPrice" type="number" ng-model="sessionPrice" placeholder="{{'onboarding:mobileOnboardingDefault.price-placeholder' | i18next}}" required>
			    	  <div class="error-messages error-messages-mobile-onboarding single" ng-messages="mobileOnboardingPriceForm.sessionPrice.$error" ng-if="mobileOnboardingPriceForm.sessionPrice.$touched">
		                <div ng-message="required">{{'businessSetup:error.required' | i18next}}<i class='fa fa-times'></i></div>
		                <div ng-message="maxlength">{{'businessSetup:error.maxlength' | i18next}}<i class='fa fa-times'></i></div>
		            </div>
			    </div>

			    <currency-picker current-currency="business.currency"></currency-picker>
			    <a href="" ng-click="slideNext(mobileOnboardingPriceForm,mobileOnboardingPriceForm.sessionPrice);createDefaults()" class="group-btn green">{{'onboarding:mobileOnboardingDefault.price-button' | i18next}}</a>
		    </form>
		</div>

		
	</div>
	<!-- the controls -->
	<div class="m-scooch-controls m-scooch-bulleted">
		<a href="#" data-m-slide="1" class="m-active">1</a>
		<a href="#" data-m-slide="2">2</a>
		<a href="#" data-m-slide="3">3</a>
		<a href="#" data-m-slide="4">4</a>
		<a href="#" data-m-slide="5">5</a>
		<a href="#" data-m-slide="6">6</a>
		<a href="#" data-m-slide="7">7</a>
	</div>
</div>
