<div class="onboarding-modal-container onboarding-review-container">
    <h3>{{'onboarding:review.too-easy' | i18next}}</h3>
    <p>{{'onboarding:review.first-message' | i18next}}</p>
    <p>{{'onboarding:review.second-message' | i18next}}<a target="_blank" href="http://support.coachseek.com/hc/en-us/articles/205803747-Get-your-Online-booking-Mini-site-up-and-running">{{'onboarding:review.here' | i18next}}</a></p>
    <p><em>{{'onboarding:review.hint' | i18next}}</em></p>
    <button class="save-button" ng-click="$close()">{{'onboarding:i-got-it' | i18next}}</button>
</div>